[2012-06-10 00:20] aaronrenner opened #1 "Conditional Counter Cache not updating when condition field changes"
Could there be an option to have the counter cache updated every time a model is saved? With the example below, when the name field is updated, thereby changing the special status, special_count is not updated.

[code]

The problem looks like it's on line 193 of lib/counter_culture.rb.

By the way, I found your gem on the comments section of the railscasts counter cache episode. Thanks for putting

[2012-06-11 17:40] #1 closed, assigned to magnusvk

[2012-06-18 01:52] aaronrenner opened #3 "Push latest version to rubygems"
It looks like version 0.1.7 hasn't been pushed to rubygems yet. http://rubygems.org/gems/counter_culture. I'll just pull from your git repository, but I wanted to give you a heads up.

Thanks,
Aaron

[2012-09-13 09:14] jasajona opened #4 "Counter on polymorphic relationship"
How to make counter on polymorphic relationship?

[2012-09-17 14:19] #3 closed, assigned to nobody

[2012-12-21 17:02] aaronchi opened #7 "Confusing config format"
I understand the need for the column_names config in order to facilitate fast manual updates, but the format made my brain hurt. This seems confusing to me:

[code]

Wouldn't something like this make more sense?

[code]

This is far more readable and clear to me.

If you changed this, you could continue to support both formats by checking if the value passed is an array.

[2012-12-25 22:05] #7 closed, assigned to nobody

[2012-12-27 10:53] map7 opened #8 "undefined method foreign_key"
I'm trying to setup counter_culture on a rails 3.0.11 project which I've got a relationship between two models like so:

[code]

[code]

When I update the parish with a new incumbent I get this error:

[code]

[2013-01-02 05:57] jrex opened #9 "Issue with column_names when using a join class"
I have a counter setup on a class that is the join class between two models.  It should change the counter only when the associated parent object has the flag is_deleted set to false.  I can't seem to get manual populating working for it though as the column_names hash seems to generate an error when a manual fix is run.

I couldn't figure out how to get this join to work (I'm using Squeel for it)

[2013-01-08 17:48] #9 closed, assigned to nobody

[2013-01-08 19:35] #8 closed, assigned to nobody

[2013-03-27 13:07] marcamillion opened #10 "Does this gem work with HABTM associations?"
I have an HABTM association between 2 models and would love to use some sort of cache counter.

Does this gem support that?

Thanks.

[2013-03-27 14:07] #10 closed, assigned to nobody

[2013-03-27 16:33] danahern opened #11 "Counter Culture getting incorrect count with after_create hook"
We are having a problem with our implementation of counter cache.  When we have an after_create method it ends up doubling up the count (returning 2 instead of 1).

Here is a simple setup

[code]

Then in the console

[code]

Switching back to the Rails counter_cache: true fixes it, also commenting out the after_create fixes it.

Do you have any ideas why it might be doing that?  I took a look at

[2013-03-27 17:33] #11 closed, assigned to nobody

[2013-04-24 02:25] blimey85 opened #13 "How to properly trigger on update?"
I have this in my `user.rb`:

[code]

This seems to work fine on create and destroy. On update, I'm not sure how to trigger it. The end result I'm after is knowing how many total goals each user has, and how many of those are completed. In my code above, I'm using "goals.id" just so the counter includes all goals since that's my total goals field. The other one is matching off of the completed fie

[2013-04-24 03:42] #13 closed, assigned to nobody

[2013-05-14 17:20] dylanz opened #15 "Nil issue"
I'm using Rails 3.2.12 and counter_culture 0.1.11...

class Cat < ActiveRecord::Base
   has_many :lives
end

class Live < ActiveRecord::Base
    belongs_to :cat
    counter_culture :cat
end

In the migration:
add_column :cat, :lives_count, :integer, :null => false, :default => 0
Cat.counter_culture_fix_counts

undefined method `each' for nil:NilClass
..../gems/counter_culture-0.1.11/lib/counter_cu

[2013-05-24 18:26] #15 closed, assigned to nobody

[2013-06-04 13:56] ghost opened #16 "Having trouble with many-to-many association"
Hi - I'd love to use this gem, but I'm having trouble using it for a many-to-many association.

Here's the setup:
Attendee <--> Access <--> Meeting

Attendee model has_many :accesses and has_many :meetings, :through => :accesses
Access model belongs_to :attendee and belongs_to :meeting
Meeting model has_many :accesses and has_many :attendees, :through => :accesses

I'd like to keep a counter of At

[2013-06-04 14:02] #16 closed, assigned to nobody

[2013-06-25 16:13] shir opened #18 "Carrierwave with amazon s3 not work with counter_culture gem"
If you create model like this

[code]

with uploader connected to s3 (fog and carrierwave-aws backends have same behavior) after updating file only file name in database is updated, but new file on s3 is not uploaded (old file stays on s3). This issue only on updating file, creating new object works ok.

I've created [same issue](https://github.com/carrierwaveuploader/carrierwave/issues/1127) in c

[2013-07-22 18:02] #18 closed, assigned to nobody

[2013-08-01 21:47] victor-seo opened #21 "Issues in testing"
The counters doesn't seem to update well in test environment.

Let's go with three models User, Product, and Purchase, where a user has_many products through purchases. User is counting purchases.

When I run @user.products.push(@product), it seems to update the counter just fine.
However, @user.purchases.create(product: @product) does not update the counter. I have to run Purchase.counter_culture

[2013-08-05 14:00] #21 closed, assigned to nobody

[2013-08-19 21:48] davetapley opened #22 "Callbacks not triggered when using transactional fixtures in RSpec"
I've just come upon this issue, will flesh out here more when I have extra details / specs. But incase anyone has seen it:

If I have `config.use_transactional_fixtures = true` (the default), then I found that the callbacks to increment/decrement the counters weren't being called in my RSpec specs.

I outlined the problem in [this gist](https://gist.github.com/dukedave/6271535), demonstrating how

[2013-08-19 22:07] #22 closed, assigned to nobody

[2013-09-18 22:27] davetapley opened #23 "Terminating counter_culture_fix_counts midway through"
For any reasonably sized table, `counter_culture_fix_counts` will taken a non-trivial amount of time to run.

In keeping with the mantra of [disposability](http://12factor.net/disposability) required when using services such as Heroku (as I do), I was wondering: If a `counter_culture_fix_counts` is killed halfway through, do we lose all the fixed counts?
I.e. if it is killed before completion and

[2013-09-20 21:13] magnusvk opened #24 "Using outdated counts when running counter_culture_fix_counts?"
`counter_culture_fix_counts` first loads all the correct counts into memory, then iterates over all instances and compares counts. Now, if in between loading the correct counts and comparing them in the loop, new children were created or destroyed, this count will be off and reset to an incorrect, outdated value.

Maybe we can use an update_all with a JOIN to let the database handle this atomicall

[2013-09-22 08:30] giuseb opened #25 "Touching the counter_cultured model"
It would be nice if updating the counters also set the model's updated_at field to the current time, in order to facilitate cache expiration.

Imagine a Category index page listing category names and product counts. These days, it is trivial to perform http caching and/or cache the view using a key that includes the most recent change to the categories.

[code]

Now, if I add/remove a product or c

[2013-10-02 01:34] atstockland opened #26 "Totaling float values"
Current version doesn't seem to allow totaling of floats...only integers.

[2013-10-05 20:13] #26 closed, assigned to nobody

[2013-10-05 22:47] #25 closed, assigned to nobody

[2013-10-07 23:49] johanneswuerbach opened #27 "Rails 4: DEPRECATION WARNING"
I updated to from 0.1.14 ~> 0.1.16 and receive now the following deprecation warning with Rails 4.

[code]

I tried to run the counter_culter tests on my local machine with `rake` and `rspec`, but it looks like there is a loop somewhere. (ruby 2.0)

Excerpt from the console output:

[code]

[2013-10-08 01:37] #27 closed, assigned to nobody

[2013-11-04 04:24] IrvinFan opened #29 "Running counter_cultured model's after_update hook"
Currently when the count column is updated any update callbacks in the counter_cultured model are not running. Imagine there is a after_update hook that does something (e.g. set the status column to be "FULL") when the count exceeds certain number. It would be nice if those callbacks are not skipped when the count is updated by counter_culture.

[2013-11-18 21:22] dzoltok opened #30 "Manually filling in dynamic column name based on joined model"
OK, so I have a situation where an Article has_many Tags, and a Tag has_many Articles, through a join table that belongs_to both of them. That's where this code is:

[code]

As you can see, I'm trying to store both the number of articles associated with a tag, and the number of "recent" articles. The problem here comes up when I try to populate the count columns in the Tag table using counter_cult

[2013-11-22 15:15] #23 closed, assigned to nobody

[2013-11-22 15:16] magnusvk opened #31 "counter_culture_fix_counts with more than batch_size records and conditional columns"
@aaronchi reports:

There is a still a problem here for conditional columns... the conditions get added to the main query after WHERE instead of appending to the LEFT JOIN.

[2013-11-22 15:20] #29 closed, assigned to nobody

[2013-12-10 04:07] kjakub opened #32 "multi counter in model"
i tried following in my model:

[code]

its working and updating both columns if model.recognized, otherwise updating just taken column. Perfect.

I would like to test it since there is some logic behind. I have been using database cleaner with truncation mode, trying to call model.reload in test but counters are not updated at all.

[2013-12-10 04:09] #32 closed, assigned to nobody

[2013-12-23 00:16] atstockland opened #33 "Error when deleting record"
For example (see code below)...when deleting a rating that is associated with the account, the conditional for counter_culture complains with "undefined method `ratings' for #<Rating:..."

rating.rb
belongs_to :account
counter_culture :account, column_name: Proc.new {|account| account.ratings.active.present? ? 'active_ratings_count' : nil }
counter_culture :account, column_name: Proc.new {|account

[2013-12-23 01:06] #33 closed, assigned to nobody

[2014-01-08 23:09] kjeremy opened #35 "Using update with _destroy set causes the counter to be decremented by 2"
I have two models:

[code]

and

[code]

In the resume controller I have:

[code]

When I add a new Abstract the counter goes up correctly but when deleting one through the ResumeController::update method the count decreases by two.

[2014-01-10 23:09] chrismcleod opened #37 "Model.couter_culture_fix_counts seems to be broken if the primary key column of the relation has gaps"
The method looks for count[model.id], and it seems if there are gaps in the primary key column, it isn't finding count[model.id] and so setting the count to 0

[2014-01-13 14:08] #37 closed, assigned to nobody

[2014-01-18 14:11] cirosantilli opened #38 "Increment count by an arbitrary function of the many side (product)"
I would like if this is currently possible, and if not make a feature request.
If the feature is desirable I may try to implement it.

This will be better explained with an example.

A bug tracker issue has comments.

It is possible to upvote issues by starting a comment with `+1`, and downvote them by starting it with `-1`.

I want to keep a running count of the `score = upvotes - downvotes`of an

[2014-01-23 15:42] leods92 opened #39 "Bug: changing model twice within the same transaction doesn't increment counter"
After some time trying to debug a model whose counter wasn't incrementing in my app, I found a counter_culture bug.

**What happens**
Counters are not incremented nor decremented when parent elements triggers children #save.

**How to reproduce**
- Add a call back in the parent model that changes children
- Wrap parent model #save call AND any children change within a transaction.

**Why does it h

[2014-01-25 17:18] atstockland opened #40 "fix_counts fails with error "must provide column_name" if conditional returns nil"
counter_culture :category, :column_name => Proc.new {|model| model.special? ? 'special_count' : nil }

If the model above is not special, nil is returned...and then fix_counts yells "must provide column_name".  If nil is returned, shouldn't count_fix move on, rather than get stuck on no column_name?

Is there a work around for this?

[2014-01-25 18:09] #40 closed, assigned to nobody

[2014-01-25 21:39] atstockland opened #41 "counter_culture_fix_counts is not correct when the column is a sum"
When I run counter_culture_fix_counts, it returns that a column is wrong and should be a sum of 0.0.  When, in fact the columns sum is not zero.  Also, counter_culture_fix_counts is returning records that it thinks are incorrect, but it is not updating the database...just returning the hash.

[2014-01-27 04:33] MarinaNitze opened #42 "Doesn't work when conditional criteria changes"
I'm trying to keep a counter of the # of targets a given theme has that are NOT completed.

[code]

I created the field Theme.active_targets_count successfully.

The relevant section in my target.rb:

[code]

If a Target.tier == "1" and then I run the following:

[code]

The active_targets_count does not decrement.

Am I doing something wrong or is this an issue? Thanks! Love your gem and it's bee

[2014-01-27 04:38] #42 closed, assigned to nobody

[2014-01-27 04:41] #41 closed, assigned to nobody

[2014-02-01 01:40] atstockland opened #46 "Delta float column being rounded down to whole number in counter_culture_fix_counts"
I forked the gem and will see if I can write a failing test (just learning specs).  But, it seems that a float value is being rounded down to nearest whole number when running counter_culture_fix_counts.

[2014-03-29 10:14] creasty opened #48 "Generator raises NoMethodError on 4.1.0.rc1"
I tried to run generator command, got this error:

[code]

[2014-04-26 02:40] amcox opened #50 "Totals not updating correctly when delta_column is changed through a callback"
Thanks for the great gem, it's designed to do exactly what I was looking for: keep a cache column of a sum, rather than just a count.

I have a setup like so:

[code]

When a player is created, this triggers a callback to it's parent game that modifies the player. I would expect the cache column to update when the player is changed in this manner, but it does not seem to do that.

Instead, it eith

[2014-05-03 19:42] atstockland opened #52 "Float values being trimmed to integers during counter_culture_fix_counts"
This hash is returned when running counter_culture_fix_counts.

{:entity=>"User", :id=>263, :what=>"total_time_sum", :wrong=>10.6, :right=>10}.

The DB schema on this column is:
t.float "total_time_sum", default: 0.0, null: false

The total is, in fact, 10.6...so counter_culture seems to be confused about the float value.

[2014-05-10 14:38] widjajayd opened #53 "count columns is not automatically updated, have to run counter_culture_fix_counts to fix each time add new record"
hello, I'm using counter_culture to create survey applications
the problem is each time I add citizen the count columns is not automatically update
I have to go to console and run Citizen.counter_culture_fix_counts
below is my model and controller for reference
I'm using rails 4  and nested_attributes
thank you for help

[code]

[2014-05-11 18:33] atstockland opened #54 "Fix counts not updating incorrect float values correctly. Reopening issue #41"
I'm stilling having problems where the counter_culture_fix_counts isn't accurately updating float counters.  In my app the floats are rounded to whole numbers, and are often reset to 0 when the sum of counts is not 0.

I have added a spec (and am working on making it better).  I pushed out what I have so far, and you can see what I am trying to test.  Look for the spec titled "should fix a sum cou

[2014-05-15 02:50] #54 closed, assigned to nobody

[2014-05-15 02:50] #52 closed, assigned to nobody

[2014-05-15 02:50] #46 closed, assigned to nobody

[2014-05-24 18:01] #48 closed, assigned to nobody

[2014-05-24 18:27] #30 closed, assigned to nobody

[2014-05-24 18:29] #35 closed, assigned to nobody

[2014-05-24 18:30] #39 closed, assigned to nobody

[2014-05-24 21:16] #31 closed, assigned to nobody

[2014-05-24 21:43] #53 closed, assigned to nobody

[2014-05-24 22:14] #50 closed, assigned to nobody

[2014-05-24 22:14] #38 closed, assigned to nobody

[2014-06-10 02:04] atstockland opened #55 "Multi-level counter-cache following similar path seem to affect each other"
Not sure if this is a bug or user-error.  I'll try to illustrate this...think in terms of a flight school with students and instructors.

Account class
belongs_to :user

Rating class
belongs_to :account # the students account

Flight class
belongs_to :account # the instructors account
belongs_to :rating

  counter_culture [:account, :user], # the instructor
    delta_column: 'total_time',
    colu

[2014-06-10 02:10] #55 closed, assigned to nobody

[2014-06-13 03:56] mauriciopasquier opened #56 "Help undersanding why I'm getting so many wrong counts"
Hi! First of all, sorry if this space is strictly about bugs.. I don't think I've got into one. But I really really could use some help!

I don't understand why this is failing so horribly. I have this related models:

[code]

I'm getting really wrong counts, every time. I'm sure it's something I can't
see here. Sorry again for using this issue kinda as rubber duck debugging.

[2014-06-26 02:12] #56 closed, assigned to nobody

[2014-07-14 02:56] jaimerump opened #60 "Enum in model's default scope breaks counter updates"
I have a User class with an enum status and a default scope that checks this status:

[code]

I added a couple counter columns to my users table, and when I try to manually set the values, I get a MySQL error because of the default scope applying the enum in a way that the update doesn't like.

[code]

It seems to work when I do something like:

[code]

which I got from http://stackoverflow.com/a/

[2014-07-14 09:32] HamptonMakes opened #61 "Conditional Column Name Failure"
First of all, thanks for running this awesome project!

However, I think I've found a bug in counter_culture on Rails 4.1. It seems that the conditional column_name hack isn't working. In the code sample below, I have put in a totally invalid :column_name value "xxx" to be returned if the model.published? does not return nil.

[code]

When this code runs, I see this in my logs:

[code]

So, appare

[2014-07-14 09:37] #61 closed, assigned to nobody

[2014-07-14 14:31] #60 closed, assigned to nobody

[2014-07-14 19:33] novito opened #62 "Trigger method when counter (or sum of counters) meet condition?"
This is not really an issue of the gem itself (which it has been really useful), but I would like to ask what would be the suggested way of dealing with the following problem I have.

In one of my models (Order) I have several counters that keep track of the number of Ads (Order has_many Ads), depending on their status. So, I have the following in my Ad model:

[code]

I am trying to dinamically c

[2014-07-15 02:32] #62 closed, assigned to nobody

[2014-07-15 09:59] jogaco opened #63 "fix_counts does not work when using primary_key"
It incorrectly keeps using id instead of the declared primary_key field

[2014-07-16 21:01] jaimerump opened #66 "Fix_counts breaking on dynamic column name with enum"
I have a classes `User` and `Item`, each of which has columns `haves_count` and `wants_count`, which I am trying to apply counter_culture to. They are joined by `has_many through` relationships with a class `CollectionRecord`.

[code]

`CollectionRecord` has an enum `status: [:have, :want]`, which I'm trying to use to define the counter column names. I have my counters set up in `CollectionRecord`

[2014-07-22 14:27] #66 closed, assigned to nobody

[2014-07-30 14:37] #63 closed, assigned to nobody

[2014-08-29 04:00] tamvm opened #70 "#counter_culture_fix_counts doesn't work for conditional counter cache"
I declared counter_culture as following:

[code]

And I'd like to fix counts for all count declare in Product model, so I run `Product.counter_culture_fix_counts` but it raised exception

[code]

[2014-08-29 16:04] #70 closed, assigned to nobody

[2014-09-03 15:21] entity1991 opened #71 "Reseting counters"
How to reset counters for separate object or for objects matching some query? For example where(deleted: false, hidded: false)

[2014-09-15 15:17] timdorr opened #72 "Fixing counts on multi-level STI models doesn't work"
We have a multi-level relation with an STI model at the base for our email system. We're tracking email clicks and views. So, it looks like this:

`EmailEvent::Viewed/Clicked` -> `Email` -> `Mailing`

We've got some counters on `Emails` and `Mailings` that work just fine when a new `EmailEvent` is created. They're hooked up like so:

[code]

But when we run `counter_culture_fix_counts` on either t

[2014-09-21 15:30] huobazi opened #74 "command rails d...."
`rails d counter_culture Xxx xxx`

will print

remove db/migrate/xxxxx.rb but no this file

[2014-09-23 02:21] #74 closed, assigned to nobody

[2014-10-17 15:55] jogaco opened #75 "testing counter_culture"
By adding the https://github.com/grosser/test_after_commit gem, testing counter_culture is a piece of cake. Works like a charm!
Perhaps this could be mentioned in the README ?

[2014-10-20 10:08] jogaco opened #76 "fix_counts does not work with self-referential models"
Example:

[code]

[2014-11-02 19:15] ashanbrown opened #78 "previous_model generation may trigger side effects"
In order to support dynamic counter cache column names, this change was introduced:

https://github.com/magnusvk/counter_culture/commit/6cd8491ee410dc7535e32aa3ae004dbb6edbe0ed

This code tries to create the original model by undoing the changes it finds in the dirty attributes.  In my code this code does not play well with carrierwave, which does some interesting stuff on assignment.  In general,

[2014-11-07 11:31] jordan-thoms opened #79 "OFFSET is slow on postgres, makes fixing counter values slow"
Hi

According to the postgres documentation ( http://www.postgresql.org/docs/9.3/static/queries-limit.html ), "The rows skipped by an OFFSET clause still have to be computed inside the server; therefore a large OFFSET might be inefficient."

This is matching what I'm seeing - we have a table with ~1.2 million rows, and the start of the table is queried very quickly, and it gradually slows down unt

[2014-11-11 10:30] josal opened #80 "Mongoid support?"
It seems counter_culture is not supporting mongo as I'm getting this error

[code]

Any plans to support it?
Thanks.

[2014-11-13 03:53] #79 closed, assigned to nobody

[2014-11-13 03:58] #76 closed, assigned to nobody

[2014-11-13 04:24] #78 closed, assigned to nobody

[2014-11-13 04:41] #75 closed, assigned to nobody

[2014-11-13 09:43] jogaco opened #81 "rspec error: cannot load such file -- after_commit_action (LoadError)"
With the last version, I am getting this error, unless I add to my Gemfile:

[code]

Error:

[code]

[2014-11-13 12:15] sufleR opened #82 "touch option is not working"
I'm using latest version of gem.

having:

[code]
updates only count. it doesn't change ```updated_at``` column.

log:

[code]

items table:

[code]

[2014-11-13 15:39] sufleR opened #83 "rails dependency"
Do you need whole rails as dependency?

I'm considering using counter_culture together with rails-api.

[2014-11-13 23:08] amir20 opened #84 "cannot load such file -- after_commit_action (LoadError)"
Upgrading to latest version yields

[code]

Looks like after_commit_action is not included. Is this expected?

[2014-11-13 23:14] #84 closed, assigned to nobody

[2014-12-07 00:19] rlugge opened #86 "Chained Counters Don't Work"
The site structure in question has a hierarchal data structure.  I have many authors, who have many stories, who have many chapters.  Each chapter has a 'visible' property.

Each story has a 'visible_chapter_count' property, with counter_culture very effectively keeping track of the number of visible chapters.

Each author has a 'visible_story_count' property.  Counter culture very effectively all

[2014-12-07 19:54] #86 closed, assigned to nobody

[2014-12-09 04:41] wooly opened #87 "Transactional callback deprecation warning"
Hi there,

Since upgrading to 4.2.0.rc1, I've started getting this error

[code]

When I start the console or run my test suite. I've got the `config.active_record.raise_in_transactional_callbacks = true` line in my application.rb as the rest of the warning suggests, but it makes no difference.

If I remove counter_culture from the Gemfile and re-run the suite, the warnings disappear. Any ideas?

[2014-12-09 17:18] JanStevens opened #88 "Brakes HATBM with Rails 4.2.0.rc2"
Hello,

After a long and deep bug hunting I found out that this gem brakes HABTM relations in a very fun way:

[code]

I've create an example project on GitHub: https://github.com/JanStevens/counting_culture-issue4.2
Since we have a quite big stack I've included the typical gems (but Im confident the issue is related to counter culture). The app include Apartment, Postgres, Rspec, DatabaseCleaner

[2014-12-16 23:12] kosh-jelly opened #89 "self.class.after_commit_counter_cache is nil when calling update from controller"
I'm getting an error when calling update_attributes for an api I'm writing. It's working from the console, but it's not working through the api controller.
[code]

Here's the full stack trace:

[code]

Here's what my code looks like:

[code]

Apologies for the code dump, but I don't really have an idea what would be causing this. Counter_culture has been working just fine interacting with it from

[2014-12-25 17:31] #71 closed, assigned to nobody

[2014-12-25 17:40] #72 closed, assigned to nobody

[2014-12-25 17:46] #80 closed, assigned to nobody

[2014-12-25 18:07] #81 closed, assigned to nobody

[2015-01-08 14:09] rdetert opened #90 "Can I Do a Unique Counter?"
I'm making a link click tracker and also want the unique number of clicks from an IP. Is this possible? Right now I'm writing my own callback.

[2015-01-12 06:45] deniskorobicyn commented on #90
Can you provide your database structure or simplified example?

[2015-01-20 13:02] sebastianhoitz opened #91 "delta_column not accepting updates when enum column"
I have an enum column called `score` which maps score values to human-readable attributes.

This works well when using the counter_culture_fix_counts method because it uses the values provided in the database.

However, when using the after_update hook, counter_culture wants to update the value with a query like this:

[code]

The expected behavior would be to use the enum value here: https://gith

[2015-01-20 13:49] sebastianhoitz commented on #91
Closed since I opened a pull request.

[2015-01-20 13:49] #91 closed

[2015-01-31 22:43] magnusvk commented on #90
I'm sorry, but I don't really know what you are asking.

[2015-01-31 22:43] #90 closed

[2015-02-10 12:05] jogaco opened #93 "does not work correctly on relations with foreign_key option"
If I have:

[code]
it wrongly updates the counter cache searching by id.

[2015-02-10 15:45] #93 closed

[2015-02-16 13:33] krim opened #95 "Custom column name and decrement"
Hello. I have problem with decrement counter value.
I have review for companies with statuses: moderate, active, disabled.
For default review has status 'moderate', after i change status to 'active' counter cache +1
Code:
counter_culture :company, column_name: Proc.new {|model| model.status == 'active' ? 'reviews_count' : nil }

After that i change status to 'disabled' i my counter cache didn't de

[2015-02-16 18:57] magnusvk commented on #95
Actually, that should have worked. I have specs in place that test for this, so I doubt there's a specific bug here. If so, I'd need a failing test that shows this for me to dig further on it.

Are you perhaps updating the column without callbacks? Then counter_culture can't work.

[2015-02-16 18:57] #95 closed

[2015-02-16 19:26] krim commented on #95
Excuse me, my fault

[2015-02-16 22:31] nbhartiya opened #96 "Manually populating counts doesn't work with Conditional counter cache"
Manually populating counts (https://github.com/magnusvk/counter_culture#manually-populating-counter-cache-values) with Conditional Counter Cache (https://github.com/magnusvk/counter_culture#conditional-counter-cache) leads to error:

RuntimeError: Must provide :column_names option for relation [:category] when :column_name is a Proc; you may skip this relation with :skip_unsupported => true

How s

[2015-02-17 02:17] magnusvk commented on #96
This is well-documented behavior; please read the documentation before filing issues.
https://github.com/magnusvk/counter_culture/#handling-dynamic-column-names

[2015-02-17 02:17] #96 closed

[2015-02-17 12:01] gmgp opened #97 "counter_culture_fix_counts report all items all time"
Gemfile.lock  ```counter_culture (0.1.30)```
If i run the counter_culture_fix_counts the report include all items

[code]
whit this schema.rb
[code]
when i run ``` Comment.counter_culture_fix_counts only: :post```
the report include all items all times
[code]
if I binding with pry in https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture.rb#L134
[code]

[2015-02-21 19:27] magnusvk commented on #97
That's strange. I've [added a spec for this](https://github.com/magnusvk/counter_culture/blob/master/spec/counter_culture_spec.rb#L852) and it's green. What database are you using? Basically, what this tells me is that the SQL `COUNT()` function is returning a string, which is wrong.

[2015-02-22 18:38] gmgp commented on #97
yes, it's strange
I have an old app with
[code]
I'm updating :-/
trying to build a bugged working sample, I realized that by updating the gems the problem does not occur

[2015-02-23 19:53] treydock opened #98 "Possible to update counter cache using update_all"
I have an application which has many millions of records in multiple tables.  Operations are done to avoid extra database calls on these large tables.  One operation I tested with counter_culture is "reschedule!" and found the counter column was not updated.  My guess is this is because I'm performing an update_all operation on the _id column directly.  Is it still possible to use this gem to avoi

[2015-02-23 19:56] magnusvk commented on #98
counter_culture, just like simple Rails counter caches, work through Rails callbacks. So you need to make sure that any operation that changes the counter cache value triggers callbacks, otherwise there is no way for counter_culture to know anything changed. So I think the answer to your question is no.

[2015-02-23 19:56] #98 closed

[2015-02-23 21:10] treydock commented on #98
@magnusvk Thanks for the response.  I figured the answer was no, but wanted to be sure.  The use of this gem may have a net benefit greater than what I'd lose by no longer using #update_all, so will test that and see.

[2015-02-23 21:37] adambarber commented on #88
I'm having the same problem as well.

* Rails 4.2.0
* counter_culture (0.1.30) from github

Removing counter_culture from the Gemfile causes tests to pass.

[2015-02-26 18:07] danielevans commented on #18
@magnusvk I have. I have uploads which fail to save the file (both s3 and file stores) and commenting out the model's `counter_culture` line fixes it. Also overriding `_update_counts_after_update` to a no-op eliminates the error but overriding `after_commit_action`'s `_after_commit_hook` does *not* eliminate the problem. I'm still investigating and hope to find problem.

[2015-02-26 19:59] danielevans commented on #18
I've found the problem, and it is not a bug in `counter_culture`. The problem is that carrierwave is not properly handling the `dup` and there is already a PR to fix it: https://github.com/carrierwaveuploader/carrierwave/pull/1544

[2015-02-27 10:30] dmitry commented on #4
@deniskorobicyn thanks for the anti-pattern link. There are lot of useful information.

[2015-02-27 10:31] dmitry commented on #83
Looks like only the activerecord required for this gem: https://github.com/magnusvk/counter_culture/blob/master/counter_culture.gemspec#L119

[2015-02-27 10:40] sufleR commented on #83
it was changed after I created this issue
https://github.com/magnusvk/counter_culture/commit/a3fed1ca91148d10e55728021d5e918f770d7bf5
Thank you for noticing.

Issue can be closed

[2015-02-27 10:40] #83 closed

[2015-03-03 00:43] jaygen commented on #88
:+1: Same issue here.

[2015-03-05 23:21] losadaem opened #99 "Counter not updating with touch callbacks"
I'm using dynamic counter column depending on an association value. I'm trying to use touch but this only executes after_touch callbacks and counter_culture only checks after_update callbacks. Could be possible to improve this in the gem so touch also executes the counter checks ?

Thanks

[2015-03-07 21:55] magnusvk commented on #99
I'm not sure what you mean; does the dynamic counter column check the update_at column? Otherwise I don't see why you'd need this. In any case, I don't have any plans to add this myself, though I do think it would be possible.

[2015-03-07 21:55] #99 closed

[2015-03-07 23:41] magnusvk commented on #88
@JanStevens Thank you for providing the test project that reproduces this. I just spent a bunch of time diving into this to figure out what's going on. I was able to trace it to the after_comit_action gem -- a dependency of counter_culture. In fact, I've been able to fully remove both after_commit_action and counter_culture as dependencies and still reproduce this, see [this](https://github.com/Ja

[2015-03-08 00:00] #88 closed

[2015-03-08 00:03] magnusvk commented on #88
This is fixed in 0.1.31. Thanks for your patience, this was rather difficult to track down. In all honesty, I still don't fully understand what's going on but I was able to side-step it. I was able to confirm that this fixes it in your test project by simply running `bundle update counter_culture`.

[2015-03-08 00:03] magnusvk commented on #97
Ok, so I'll go ahead and close this then. Thanks for reporting back and good luck fixing this.

[2015-03-08 00:03] #97 closed

[2015-03-08 00:07] magnusvk commented on #89
Hmm, very strange. Can you provide a minimal test case that reproduces it? Otherwise it's really hard for me to look at this as I can't reproduce it.

Also, could you please verify this is still happening with the latest gem version?

[2015-03-08 00:09] magnusvk commented on #87
@wooly @s01ipsist I've merged after_commit_action#2. Can you verify this is now resolved and doesn't happen anymore? Thanks.

[2015-03-08 00:34] s01ipsist commented on #87
In my Rails config/application.rb file I had put
`ActiveRecord::Base.raise_in_transactional_callbacks = true`
right below
`require 'rails/all'`
to prevent that warning.

I haven't chased down what's changed since but removing that, and keeping the old counter_culture and after_commit_action gems, no longer displays the warning.
Updating the gems doesn't bring it back so I'm happy it's resolved...

[2015-03-08 02:56] magnusvk commented on #87
That's great to hear, thanks.

[2015-03-08 02:56] #87 closed

[2015-03-11 19:26] aortbals opened #100 "`find_by` is not implemented on Rails 3.2"
[This commit](https://github.com/magnusvk/counter_culture/commit/56d347a9bbcb3115e40d5befaca23fd5650c6ceb) breaks support for Rails 3.2 because `find_by` was [not implemented in Rails 3.2](http://api.rubyonrails.org/v3.2.16/). While the change is nice, I believe it is the only reason I'm prevented from using the latest version (`0.1.31` currently) on Rails 3.2.16.

[2015-03-14 01:30] mockdeep commented on #89
I just ran into this issue as well, trying to integrate version `0.1.31`. I implemented it on three models, one of which works fine and the other two break. What the failing ones have in common is that they are single-table inheritance models:

[code]

[2015-03-14 14:00] magnusvk commented on #89
Can you fork this and add a failing test to the suite? That would help massively in debugging this. Thanks.

[2015-03-14 16:02] mockdeep commented on #89
Sure, this breaks it for me: https://github.com/mockdeep/counter_culture/commit/561519aeb036f59ac3d3a87d05deea577060759b

[2015-03-17 01:57] magnusvk commented on #100
That's fair enough; yeah, the change is nice but it's not worth breaking compatibility. I've reverted that commit, and version 0.1.32 should work for you again.

[2015-03-17 01:57] #100 closed

[2015-03-17 01:57] magnusvk commented on #100
Also, issue #100. Woot, woot! :)

[2015-03-17 02:03] aortbals commented on #100
Appreciate it!

[2015-03-17 02:51] magnusvk commented on #89
What do you think of 71a1417a716bb24aa042640f005b5727a922c082? It fixes your spec, however I'm not quite sure this is the right approach. Would love another set of eyes on it.

[2015-03-17 02:52] magnusvk commented on #89
See also #101.

[2015-04-02 15:16] #89 closed

[2015-04-02 15:26] magnusvk commented on #89
Now released in 0.1.33

[2015-04-08 10:51] sebfie opened #102 "default_scope of association"
Hello,

I have a model product :

[code]

and store product :

[code]

And my counter_culture counter do not takes care about this default scope. How to fix that?

[2015-04-09 12:09] sebfie opened #103 "Gem does not work when mysql has enabled ONLY_FULL_GROUP_BY"
Hello,

This gem do not work when mysql server has the ONLY_FULL_GROUP_BY option enabled :

[code]

Selected field should be in the group by, but if we do so, requests are too longs on big table. I am thinking about a fix but no idea for the moment

[2015-04-28 23:18] bluej100 commented on #21
I found this page because I was using `DatabaseCleaner.strategy = :transaction` and counter_culture delays its writes until after the commit. I just needed to switch to truncation for the test.

[2015-06-19 06:32] mrj opened #106 "Fixing counts on belongs_to with joins not supported"
[requires further thought]

[2015-06-19 22:30] magnusvk commented on #106
Hm, weird that your comment is gone here. Did you edit it?

As to your question: I don't know exactly what you mean by "belongs_to with joins". Could you give me an example with some code of what that actually looks like? Happy to look at that then; closing in the meantime.

[2015-06-19 22:30] #106 closed

[2015-06-19 22:56] mrj commented on #106
Yes sorry, I deleted my comment while I implemented a manual `counter_culture_fix_counts` to clarify my thinking. I've restored the comment.

The problem is real, but I'm not sure whether it's obscure enough to forgo automatic support.

It's where a `belongs_to` is defined like
[code]
which I'm using to link to an aggregate record not fully determined by the foreign key (perhaps an abuse of `belon

[2015-06-19 23:07] magnusvk commented on #106
Yeah, I think that's obscure enough that adding general support for this case probably doesn't make sense. But you should still be able to use the gem for actually maintaining counters and just write a more naive and less performant version of fix_counts that uses the relation directly.

[2015-06-19 23:10] mrj commented on #106
Yes, that's what I've done.

Implementing the manual counter_culture_fix_counts made it clear that the extra joins needed to fix the counts are different from the extra ones in relation. Plus a counter_culture `:joins` option would have to support this parameter being a proc/lambda that took the record as an argument.

[2015-08-14 16:18] JNajera opened #108 "How to fix counts only one record"
Im updating my records with update_all to get the best performance because its a large set of records, so this don't call any callbacks and the counter its not updated. But when I done the update, Im actually fixing the counter manually with this command:
[code]
This will fix the counter for all the records. Its possible to call it for just one record?
Thanks

[2015-08-15 18:26] magnusvk commented on #108
You cannot use fix_counts for that, no. But you can just do an update_columns on the counter cache column with the correct count you grab from the actual association. The only reason to use fix_counts is because it is fast and works in bulk.

[2015-08-15 18:26] #108 closed

[2015-09-15 04:58] maxsalven opened #109 "Scoped Count"
Using a similar example to the ReadMe:

[code]

I'd like a counter_cache on Category (`user_reviews_count`) that tells me how many *different* users have reviewed products in that category. So not the total number of reviews (which is what the above would do), but the number of users that have created a review.

[2015-09-15 22:32] magnusvk commented on #109
That makes sense; unfortunately, counter_culture doesn't support that scenario right now and I don't have any plans of adding that functionality. I would be very willing to merge a pull request that adds it, though. You could look at the `delta_column` support as a template for how to go about that.

[2015-09-15 22:32] #109 closed

[2015-09-18 05:52] misham opened #110 "Is it possible to have two has_many :through relations?"
I have a data model as follows:

[code]

I'd like to have a counter cache of `Stories` on `Stages`.  I know that there will be duplicates, that's allowed per business rules.

I ran the migration to add `stories_counter` to `Goal` model.  I also tried adding a `counter_culture` line to `TaskStoryList` as follows:

[code]

but that doesn't create the counts.

Is this even possible?  Do you I need to

[2015-10-13 04:06] chamini2 opened #112 "Counter culture works on delegated attributes, but not when updated"
I have the following class

    class Submission < ActiveRecord::Base
      # always include the associated task in the queries
      default_scope { includes(:task) }

      belongs_to :owner, class_name: 'Profile'
      belongs_to :task

      # keep the sum of points of accepted submissions in the owner's model
      counter_culture :owner, delta_column: 'points', column_name: Proc.new { |sub|

[2015-10-21 22:56] trostli opened #113 "SQL error when running #counter_culture_fix_counts"
Hi there,

I am getting the following error when running counter_culture_fix_counts, however it only happens midway through processing close to 1 million records. Any chance you know what the issue might be?

Thanks very much!

[code]

[2015-11-06 08:53] ProGM opened #115 "Is it possible to define a custom aggregation function instead of COUNT or SUM?"
In my use case, I'd like to cache the mean rating of some votes.

Example:

[code]

[code]

Is there a way to do it using counter_culture?

Otherwise, can I try to add this feature? :)

[2015-11-06 22:03] melcher opened #116 "previous_model setters fail when writer method is not defined / raises exception"
We ran into an issue that prevents us from using counter_culture.
A model that does not define a setter method for a database attribute will raise an exception when using counter_culture. We find this a useful pattern for fields that store the side effect of another action but should not be updated directly. See this example activerecord class:
[code]

Using counter_culter with this class will fai

[2015-11-10 16:24] magnusvk commented on #116
Graham -- yes, that'd be a change I'd be happy to merge. Can you put together a pull request? Thanks!

[2015-11-10 16:48] magnusvk commented on #115
There's no way to do this currently. I'd be happy to look at a pull request that adds this functionality. However, I don't think there's a super straightforward way of doing this. You may be thinking only about `counter_culture_fix_counts` where this would be fairly easy to add, I think. But remember that counter_culture also increments / decrements the count using the delta column. If we supporte

[2015-11-10 16:48] #115 closed

[2015-11-18 00:06] andela-atemitope commented on #11
Hey Magnusk, perhaps I can get some clarity on the issue i'm currently facing with counter culture gem. I've got a rails 4.2.4 url_shortening application which consists of both my user and link models. I am trying to use counter caching to ensure i can get a list of users sorted according the amount of links they have. After including counter_culture in my gem file, ran bundle and used its generat

[2015-12-09 19:31] DavidMikeSimon opened #117 "Feature request: Maximum and minimum."
When `:delta_column` is provided, then `SUM` is used instead of `COUNT`. What if other composable SQL aggregate functions were available as well? In particular, `MIN` and `MAX` would be very useful for me.

For example, suppose we want to track in each Category the price of its most expensive item.

[code]

If a Product's price is changed to P and it belongs to Category C, counter_cache runs this

[2015-12-09 20:11] DavidMikeSimon commented on #117
Argh, thinking about this further, the UPDATE query above wouldn't work if P is already the most expensive product and its price decreases. Since the optimization would only work when the value increases, it's probably not worth the trouble.

However, there is another way to speed up the calculation: create an index in products on `(category_id, price)`.

[2015-12-09 20:46] magnusvk commented on #117
This is very similar to #115, right? The problem I see is the following: Both `delta_column` support and the simple counter cache allow us to issue update statements without having to load and evaluate the current cached value or, worse, all values in the table. If you wanted to keep a min and max up to date, you would have to always compare the value of the record in hand to the current cached va

[2015-12-09 20:46] #117 closed

[2015-12-09 20:50] magnusvk commented on #116
Graham -- wanted to follow up here and see if you can put together a pull request for this? Thanks.

[2015-12-09 20:53] magnusvk commented on #113
It's missing the column name in that last query (`performances_count`). Are you using dynamic names here or something? This is hard to debug without a full failing test or at least some more info on how you've set up the counter caches. Feel free to reopen with more info.

[2015-12-09 20:53] #113 closed

[2015-12-09 20:58] magnusvk commented on #112
Is there a reason you can't define this directly on `Task` using a multi-level counter cache? I think that would work.

[2015-12-09 20:58] #112 closed

[2015-12-09 21:01] magnusvk commented on #110
Have you tried `counter_culture [:task, :stage, :stage_goals, :stage]` instead?

[2015-12-09 21:01] #110 closed

[2015-12-09 21:02] magnusvk commented on #103
Have you tried reducing the number of records you examine at one time? I haven't run into this myself, so hard to judge from my point of view.

[2015-12-09 21:03] magnusvk commented on #102
You could do something similar to [this](https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture.rb#L99) if you can turn the default scope into a SQL `WHERE` somehow. Personally, though, I'd recommend against using `default_scope`. It's caused nothing but pain for me when I have.

[2015-12-09 21:03] #102 closed

[2015-12-09 21:04] magnusvk commented on #82
Any chance you could provide a failing test case as a pull request?

[2015-12-10 15:51] almnes opened #118 "Must provide :column_names option for relation when column name is a proc"
Seem to be running into some issues, I've set up my counter culture like this:

    class User < ActiveRecord::Base
    belongs_to :company
    counter_culture :company, :column_name => Proc.new { |user| user.active? ? 'users_count' : nil }

and I have my `users_count` setup on `Company` with a migration like this:

     add_column :companies, :users_count, :integer, default: 0, null: false

now w

[2015-12-10 16:00] magnusvk commented on #118
Well, you need to do exactly what the error message says you have to do. You have the `:column_name` set to the `Proc`. This will enable normal counter cache behavior. However, for `fix_counts` to work you also need to add the `:column_names` option [as documented in the README](https://github.com/magnusvk/counter_culture#handling-dynamic-column-names).

[2015-12-10 16:01] #118 closed

[2015-12-10 17:51] DavidMikeSimon commented on #117
I agree on the database overhead; there's not much way to get around that.

But I don't think much code complexity would be added; counter_cache is already watching for all the scenarios that would necessitate updating the cached value.

[2015-12-10 18:28] magnusvk commented on #117
Yeah, you may be right. If so, I'd love to look at a PR and get that merged. :)

[2015-12-10 21:29] DavidMikeSimon commented on #117
@magnusvk I'm curious; why does counter_culture run the updates after the transaction commits?

[2015-12-10 23:26] magnusvk commented on #117
Because that avoids deadlock problems in Postgres, [see here](http://mina.naguib.ca/blog/2010/11/22/postgresql-foreign-key-deadlocks.html). Arguably that behavior should be optional.

[2015-12-11 19:05] DavidMikeSimon commented on #117
According to that article and the Postgres release notes, it actually looks like this kind of deadlock was fixed in Postgres 9.3, which came out a couple years ago.

[2015-12-22 22:48] magnusvk opened #120 "Move counter cache update back into transaction"
Currently, the counter cache update happens outside of the transaction in the after_commit hook. This is to avoid a historical deadlock issue in Postgres. However, this should be fixed in Postgres 9.3, [according to this](http://mina.naguib.ca/blog/2010/11/22/postgresql-foreign-key-deadlocks.html) and the release notes.

Given that, it should be optional in counter_culture whether the update shoul

[2015-12-22 22:49] magnusvk commented on #120
cc @DavidMikeSimon

[2015-12-22 22:49] magnusvk commented on #117
You are right. I submitted #120 to make that optional behavior.

[2015-12-28 14:28] NoNonsenseSolutions opened #121 "Counter Culture multiple column updating same counter"
i have in my battle class

[code]

which works fine.

However when i run
[code]
The tally no longer matches, i assume because one of the counter culture is overriding the other.

How do i go about doing this

[2015-12-31 05:40] bbiglari commented on #87
I have this problem with sinatra application. What I should do about it

DEPRECATION WARNING: Currently, Active Record suppresses errors raised within `after_rollback`/`after_commit` callbacks and only print them to the logs. In the next version, these errors will no longer be suppressed. Instead, the errors will propagate normally just like in other Active Record callbacks.

You can opt into the

[2015-12-31 05:40] bbiglari commented on #87
I already have this in my application.rb file, but doesn't work for me.

[2015-12-31 16:00] magnusvk commented on #87
If you look at the after_commit_action PR referenced in this issue, you can see that solution only targets Rails apps. If you are in a Sinatra app, perhaps that doesn't work for you? I don't use this in any Sinatra apps though so I'm not sure.

[2016-01-01 05:54] bbiglari commented on #87
What is your  Sinatra version ?
Do you have this issue as well?

[2016-01-01 06:11] bbiglari commented on #87
Can you please provide me a solution for Sinatra app?

Thanks

[2016-01-01 06:49] magnusvk commented on #87
I only use this with Rails, not Sinatra, so I'm afraid I can't help with this. However I would be happy to merge a pull request that addresses this if you were to make one.

[2016-01-02 07:49] bbiglari commented on #87
The source for the warning is  "has_attached_file" from paperclip, which calls " HasAttachedFile.define_on(self, name, options)" on paperclip.rb -> "add_active_record_callbacks" from initialize method, which calls these three

       @klass.send(:after_save) { send(name).send(:save) }
      @klass.send(:before_destroy) { send(name).send(:queue_all_for_delete) }
      @klass.send(:after_commit, :on

[2016-01-12 17:34] magnusvk commented on #121
`counter_culture_fix_counts` is not designed to handle this scenario. It assumes that each counter column corresponds to one counter_culture declaration. I would advise just writing up your own methods that resets the counts according to this logic. Otherwise, I'd be happy to look at a PR. :smile:

[2016-01-12 17:34] #121 closed

[2016-01-16 18:20] dmitrypol commented on #80
bummer, it's a really nice gem.  Wish I could use it but I understand

[2016-02-02 07:10] vishaldeepak commented on #4
any updates on this, would love to have polymorphic capability, as i have used this extensively in my project.

[2016-02-03 14:39] magnusvk commented on #4
Nothing new from my end, unfortunately.

[2016-02-08 23:57] melcher commented on #116
Hey there,
We ended up not needing this plugin and just went with the default rails counter's for our app. If we end up needing this in the future I may be able to dedicate some time to come up with a patch but not currently a need for us. Closing the issue since there doesn't seem to be much of a need outside of our use case.

[2016-02-08 23:57] #116 closed

[2016-02-15 23:54] key88sf opened #122 "Remove unnecessary COALESCE statement"
The gem requirements (and the migration generator) specify that the counter column is `integer` and `NOT NULL`, however the generated counter update SQL uses `COALESCE` which seems unnecessary.

example generated SQL:
[code]

[2016-02-22 18:49] magnusvk commented on #122
What's the downside of leaving the COALESCE there? What if someone does the migration manually and forgets to put the not null there?

[2016-02-22 18:54] key88sf commented on #122
One reason is that it enforces data integrity if the non-null is actually respected by the code (and raising an error if it's null). If the COALESCE is left there, you might not even realize you have a potential data problem (or bugs in your code) where something should never be null but actually is.

Another reason is just to use the minimal amount of sql necessary to get the job done. We could a

[2016-02-26 14:54] magnusvk commented on #122
Hm; I just think that enforcing `NOT NULL` here isn't actually important and it's not something that this gem does. If you left the column to be nullable, it will just treat `NULL` as 0. And that seems entirely reasonable given that `nil.to_i == 0`. Plus, this is consistent with the way Rails' default counter caches work.

Thanks for following up here, but I'm still leaning towards leaving this as

[2016-02-26 14:54] #122 closed

[2016-02-27 20:15] jmnsf opened #123 "Can't keep conditional counter"
In an e-commerce store, there is an Article module that has many physical Items. It is useful to keep an `available_items_count` in the Article model that shows available stock for that article.

The current possible solution is having a conditional column name:

[code]

But the counter doesn't get updated when the item becomes unavailable, because the column is now nil.

[2016-03-01 16:09] magnusvk commented on #123
@jmnsf There's [a test for this case specifically](https://github.com/magnusvk/counter_culture/blob/master/spec/counter_culture_spec.rb#L439). So I doubt that's what is going on. Are you sure that callbacks are fired when the item changes to unavailable? If not, counter_culture has no way of knowing what happened.

If this turns out to be an issue with counter_culture after all, please open a pull

[2016-03-01 16:09] #123 closed

[2016-03-14 22:34] dimitrid opened #124 "counter_culture_fix_counts does not set count to zero"
When running counter_culture_fix_counts, counters with zero counts do not get updated.
For example, if a counter is incorrectly showing 1 but the correct count is 0, counter_culture_fix_counts will not change it to zero.

[2016-03-15 01:43] magnusvk commented on #124
This stuff is pretty thoroughly tested, so I'd be surprised if this was the case. But I might be wrong... If so, please fork the repo and open a pull request with a failing test I can use to reproduce this. Then I'll be happy to work on a fix. Thanks.

[2016-03-15 01:43] #124 closed

[2016-03-30 13:08] AlexVPopov commented on #82
I am also having an issue, but unfortunately this is not happening on an open-source project, so I cannot provide a repo.

[2016-03-30 18:40] magnusvk commented on #82
There's a test for this [here](https://github.com/magnusvk/counter_culture/blob/master/spec/counter_culture_spec.rb#L1294). Rather than providing the project that has the issue, could you look at expanding that test or adding another test there that fails and shows the issue?

Pending a reproducible test case, going to close this issue.

[2016-03-30 18:40] #82 closed

[2016-03-31 16:45] AlexVPopov commented on #82
@magnusvk one question - does `touch: true` also trigger the `after_touch`
callback?

On Wednesday, 30 March 2016, Magnus von Koeller <notifications@github.com>
wrote:

[2016-03-31 17:01] magnusvk commented on #82
I don't believe it does.

[2016-04-14 17:52] DavidMikeSimon opened #125 "Updating counts in response to changes in middle of relation chain"
At the moment, it seems that counter_culture does not notice changes that happen on models in the middle of multi-level counter caches. For example, I added this code to the end of the "updates third-level counter cache on update" test, but it failed:

[code]

[2016-04-14 23:40] magnusvk commented on #125
Yeah, I think you've hit on a real bug here. I don't think there's any handling on the models in the middle of a chain. Kind of surprising this hasn't come up before, actually. :smile:

I can't promise I'll find the time to work on this anytime soon. But I'd be very happy to review a PR if you found the time.

Thanks for reporting this.

[2016-04-15 08:30] c0m3tx commented on #120
Hi all, any news about this?

[2016-04-18 21:59] magnusvk commented on #120
No news, no. Feel free to work on it though! 😄 I've never worked with the test_after_commit gem, so no ideas there. How are you trying to use it?

[2016-04-28 12:49] Svashta opened #129 "has_many through counters"
I have this kind of relations:

**NetworkAddress**
`has_one :asset, inverse_of: :network_address, dependent: :nullify`
`has_one :building, through: :asset`

**Asset**
`belongs_to :network_address, inverse_of: :asset`
`belongs_to :building, inverse_of: :assets`

**Building**
`has_many :assets, through: :rooms`
`has_many :network_addresses, through: :assets`

**Room**
`belongs_to :building, inverse_

[2016-04-29 17:06] magnusvk commented on #129
This is all documented [in the README](https://github.com/magnusvk/counter_culture/blob/master/README.md#multi-level-counter-cache).

In your case adding `counter_culture [:asset, :building]` on `NetworkAddress` should do the trick.

[2016-04-29 17:06] #129 closed

[2016-04-29 17:17] Svashta commented on #129
Sorry Magnus, but I read it more than 10 times, and I have also tried what you gave for example and it didn't do the trick. So I opened this ticket. It simply doesn't do a correct query

[2016-04-29 17:59] magnusvk commented on #129
I can't help with this without a lot more information, unfortunately. And I don't really have the time to help debug this even if I had the complete code. If this is due to a bug in counter_culture the best thing you can do is to fork this repository and add a failing test. Then you can pull-request that which will allow me to look into it.

Thanks.

[2016-05-11 19:12] QuotableWater7 commented on #125
fwiw, we actually ran into this issue about 9 mo ago and resorted to a heavy-handed counting approach since I wasn't sure there was an easy way to handle the situation.  If I find the time, I'll take a look at the code and see if I can figure out a reasonable approach

[2016-05-17 16:28] saroar opened #130 "Need little help some bug"
this is my product.rb

[code]

this is my category.rb

[code]

i got this error

[code]
is this bug if bug how to solve it thanks advance for your kind time

[2016-05-17 21:25] magnusvk commented on #130
This is not a bug; this is intended and documented behavior. Check the Readme:
https://github.com/magnusvk/counter_culture#handling-dynamic-column-names

[2016-05-17 21:25] #130 closed

[2016-05-19 00:13] ramontayag opened #132 "touch: :last_purchased_at"
Would you agree to adding a feature where you can specify what timestamp column to change?

[2016-05-19 20:59] magnusvk commented on #132
Yeah, that sounds useful. Would love a pull request. :)

[2016-05-19 20:59] #132 closed

[2016-06-01 10:17] holden opened #136 "Touching with lock_version"
Hi,

Using the `counter_culture :category, :touch => true` works fine for updating datetime stamps but it doesn't work with optimistic `lock_version` columns (it doesn't bump the version number on recalculation).  Is there a reason for this?  And/or some way around this. I'm using it for a shopping cart type solution with quantity updates.  I would like these to bump the `lock_version` somehow whe

[2016-06-01 14:25] magnusvk commented on #136
counter_culture doesn't call `touch` on the model, it updates the timestamp directly. [See here](https://github.com/magnusvk/counter_culture/blob/28f938477250ad6001cf0d70dfe0b4d908130c7b/lib/counter_culture/counter.rb#L53). I'd be open to adding support for bumping the `lock_version` there if you wanted to open a PR.

[2016-06-16 18:10] swapnilabnave commented on #30
I would like to [contribute](https://github.com/magnusvk/counter_culture#contributing-to-counter_culture) and add an option for `joins`. Would that be a good thought ?
I know it wont be efficient in terms of space and time but it would be an **option** eventually.

[code]

[2016-06-20 15:35] magnusvk commented on #30
@swapnilabnave I'm not sure I understand how that would work. I'm open to adding some sort of support here going forward, but I'd need some more details to know whether that makes sense.

[2016-06-23 05:08] swapnilabnave commented on #30
@magnusvk
Ok. So here's real case scenario, which I was trying to achieve using [`counter_culture`](https://github.com/magnusvk/counter_culture).

[code]

I want to count the `guest_users` for each `conversation`, this would require a join of `users` and `conversation_members`.

So I am basically trying to form a query which looks likes this. It gives me the guest_count as expected.

[code]

With

[2016-06-25 12:31] magnusvk commented on #30
Got you, that makes sense.

I think it's perfectly reasonable to use counter_culture for this with a custom fix_counts method you build, right? You wouldn't need to make all the actual counting work, the gem would do that, you'd just write a single method to fix counts. Seems easier than extending the gem. :)

That being said, if you added something here I'd be happy to look at a pull request.

[2016-07-15 02:17] kidbombay opened #140 "Is there a method to update a single parent Models counter?"
I have a user with has many notifications
For performance I do a batch operation directly on a bunch of notifications
can I then call user.fix_counts? I don't want to update every User, just that specific one?

[2016-07-20 20:15] magnusvk commented on #140
Unfortunately that doesn't currently exist. You could write one yourself; or if you were to make a pull request for this, I'd definitely look at that.

[2016-07-20 20:15] #140 closed

[2016-08-18 13:07] LucasArruda opened #141 "Counter cache fix loads model, but some fields are not yet available and it fails"
First off, I would like to personally thank all the maintainers (and especially @magnusvk) for this great gem! We use it a lot in our team.

---

We took quite some time to understand why migrations were failing for us, but then it worked when executed again.

We have a model `Invitation` like so:

[code]

When I run the migration that add the counter itself, I also fix the counters:

[code]

But

[2016-08-23 13:53] magnusvk commented on #141
Hm, I'm not really sure I understand the problem here. You are trying to run `counter_culture_fix_counts` at a time when the model code already refers to an `invitee_gender` column but that column doesn't exist in the database? In that case why don't you just add the column?

Are you attempting to run old migrations? I would suggest doing a schema load instead. Alternatively, you would have to rem

[2016-08-23 13:53] #141 closed

[2016-08-23 13:55] magnusvk commented on #103
Closing this for lack of activity.

[2016-08-23 13:55] #103 closed

[2016-08-23 14:50] LucasArruda commented on #141
The thing is, when I run all migrations after a clean DB state, the migration that runs `counter_culture_fix_counts` will run upon `Invitation` model, which contains references to `invitee_gender` inside, such as `enumerize :invitee_gender, in: UserProfile::GENDERS`.

But, because that field is not yet in the DB (it's created by another migration, added later), we run into a `deadlock` situation w

[2016-08-23 15:15] magnusvk commented on #141
Yeah this is a general problem with using model code in your migrations.

In my opinion, it is a bad idea to run all your migrations on a clean DB state. There is really no need. It is more reliable and thus better to run `rake db:schema:load` instead.

However, if you do want to keep running old migrations on an empty database, I would suggest not using model code in there. Is that call to fix th

[2016-08-23 15:22] LucasArruda commented on #141
You have a point there.

The thing is the migrations are being run on staging, but not on production, of course. But `migrations` need to work on both.

Anyways, thanks for replying and helping. For now, it's working this way but I'll see if I can make it better.

Cheers!

[2016-08-23 15:30] LucasArruda commented on #141
As a side note:
The migration was also necessary to run the `fix_counts` on production because a `counter` field has been added on that migration, and it needed to count back to all `records` that were there before.

First version, when I was not using `counter_culture` I updated the counters myself (plain `SQL`), so we didn't have this `Model` on `migration` issue. But we ended up using `counter_

[2016-10-20 15:10] trostli opened #144 "Conditional counter caches breaks when setting 1 of the dynamic column names to nil"
On my Download model I have the following counter_culture set:

[code]

However when I run `Download.counter_culture_fix_counts` I eventually will get the error:

[code]

If I change the dynamic columns names to:

[code]

The counter_culture_fix_counts command runs smoothly but gives me the wrong count. Am I missing something? Are you not allowed to set a column name to nil?

Thanks in advance

[2016-10-24 21:43] magnusvk commented on #144
Hm; this looks like it should work. Seems that you hit on a real bug...

[2016-10-24 23:50] trostli commented on #144
Hi @magnusvk ,

Just wanted to let you know I've been able to resolve the issue and get the correct count by simply removing the condition that set the column name to nil. The working method looks like this now:
[code]

[2016-10-24 23:52] magnusvk commented on #144
👍 thanks for the update.

[2016-11-10 17:32] magnusvk commented on #120
I think it's even simpler than that. It'd just need a method that conditionally yields directly or calls `execute_after_commit`.

[2016-11-10 19:40] kulte commented on #120
@magnusvk Check out #145. Let me know if you'd like me to add any specs, but I'm not really sure how to reliably test what happened inside and outside of an ActiveRecord transaction.

[2016-11-15 14:55] #120 closed

[2016-11-15 19:38] magnusvk commented on #120
This is no longer the case in the just-released version 1.0.0. Thank you @kulte for the pull request.

[2016-11-16 00:57] danielbonnell commented on #4
Hi,

Are there any updates on this yet or newer forks with this capability? I used this gem extensively in a project and now need polymorphic support. Thanks!

[2016-11-16 01:13] magnusvk commented on #4
No unfortunately not.

[2016-11-18 14:49] key88sf opened #146 "Pessimistic locking"
WDYT about adding an option to do pessimistic locking on the model that needs the counter updated? Right now there is just a normal `SELECT * from model_name...` followed by an `UPDATE model_name SET counter_col = COALESCE(...) ...`.

Would like this to be:
[code]

[2016-11-18 15:01] magnusvk commented on #146
Are you talking about the `fix_counts` case, or the normal update? In the normal update [it doesn't include the original value in the UPDATE statement it issues](https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/counter.rb#L55), thus making it atomic and not needing any locking.

So, for example, `UPDATE models SET counter_col = COALESCE(counter_col, 0) + 1` is an atomic

[2016-11-18 15:01] #146 closed

[2016-12-02 10:11] pawel1892 opened #147 "Conditional counter caches ignore updates"
counter_culture :product,
                  column_name: proc {|model| model.visible? ? 'visible_count' : nil },
                  :column_names => {
                      ["products.state = ?", 'visible'] => 'visible_count',
                  }

I have a counter_cache that looks like this. If I update the state of a product the visible_count does not change. Am I missing something or is there a b

[2016-12-02 16:18] magnusvk commented on #147
There's a test in the suite [that checks for exactly this case](https://github.com/magnusvk/counter_culture/blob/master/spec/counter_culture_spec.rb#L439). My guess would be that the bug is somewhere else. But if you can come up with a failing test for this, I'd be happy to take another look.

[2016-12-02 16:18] #147 closed

[2016-12-14 16:42] kmcgaire opened #148 "Dynamic Column Names with Totalling isn't showing correct changes in wrong key"
Combining these two features
https://github.com/magnusvk/counter_culture#handling-dynamic-column-names
https://github.com/magnusvk/counter_culture#totaling-instead-of-counting

into something that looks like
[code]

Lets say we have an incorrect value for `total_money_earned` of 100 when it should be 200. Running
[code]
I would expect to return
[code]
However we actually get
[code]

I believe the

[2016-12-14 16:47] magnusvk commented on #148
It's quite possible this is broken. There isn't a specific test for this. It's kind of hard for me to reproduce this, though, without access to your data / codebase. Could you create a pull request with a failing test, though? That way I can reproduce or fix. (Or if you just want to pull-request the fix that'd be even better. ;) )

[2016-12-20 00:12] #148 closed

[2016-12-29 10:01] timdiggins opened #151 "Update to latest rspec (3.x)?"
I'm starting to work on a very basic very of polymorphic associations (#4) but would like to use more recent version of rspec style. I'd like to update rspec to the latest v2 which allows for both rspec styles, but really wouldn't be much bother to convert it wholesale to v3 (using transpec). I'll start working on a parallel PR for this, but do let me know whether you'd appreciate it, or if there'

[2017-01-03 13:46] mollerhoj opened #155 "Support callback"
I need to save state transitions when the my counters change. That is, whenever `cities.people_count` is increased, I want to create a `CityStateChanged` record.

It seems there is no support for specifying a method to be called after counts are updated . If I create a PR, would you be willing to support this feature?

[2017-01-10 16:28] #151 closed

[2017-01-10 16:32] magnusvk commented on #155
Wouldn't it be easier / more reliable to do this in an after_create / after_destroy hook on the model that causes the count to change? Just trying to save you some work here. :)

I'd be happy to consider a PR for this, though. Looks like [here](https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/counter.rb#L57) would be the place the callback would get called.

[2017-01-10 16:32] #155 closed

[2017-01-10 18:38] #144 closed

[2017-01-10 18:46] magnusvk commented on #144
I "fixed" this by just making `fix_counts` do nothing when the column name is nil. Thanks for reporting this, and good you figured out the solution. 😄

[2017-01-10 18:47] #136 closed

[2017-01-10 18:54] trostli commented on #144
Glad I could help 👍

[2017-01-11 14:36] pChaAnthony opened #156 "counter_culture_fix_counts update with wrong results"
Maybe I am doing something wrong, I have a pc_blog table, with 3 column each link associated to category/subcategory/subsubcategory.

[code]

the counter_culture works beautifully when subsubcategory1/2/3 column changing with the pc_blog_count in each association updated correctly, however, when I run PcBlog.counter_culture_fix_counts at rails c, it generated different results everytime, as: => [{

[2017-01-11 23:19] magnusvk commented on #156
Hm; I think the issue here is that you have three different counter caches all modifying the same column: `subsubcategory1`, `subsubcategory2` and `subsubcategory3` all modify the `pc_blog_count` column. When you run fix counts, it'll go look at, say, `PcSubsubcategory` and try and count all the matching `PcBlog`. But that'll fail because it would have to take into account the three different asso

[2017-01-11 23:19] #156 closed

[2017-01-12 16:37] pChaAnthony commented on #156
Thanks, I thought I was doing something wrong, in this case, I will write a console code to update it, thanks.

[2017-01-13 01:58] avinoth commented on #144
@magnusvk So, when would this be published to Rubygems? done for now using github, just for confirmation

[2017-02-07 17:53] kidbombay opened #158 "Support Max Value"
I'm trying to get the max value of an associated model
[code]
But this adds up the total years. What I want is the max(years) value.

[2017-02-08 14:25] artem-galas opened #159 "after_update callback recalculation wrong"
Hi!

I have the following problem:
when I update counter on `after_update`, the recalculation goes wrong, but if I do it on `before_update` - all is fine.

Here is an example:
[code]

[code]

For Example? I have one `Tab` with one `Field`
[code]

Then I updated Field status
[code]

Afterwards, when I use `after_update` callback, I get
[code]

But If I run in console `counter_culture_fix_counts` -

[2017-02-09 02:34] magnusvk commented on #159
Why are you running `counter_culture_fix_counts` in the callback? It's not intended to be called that way. In your scenario, the counts should update automatically without that call.

Using `counter_culture_fix_counts` is intended for something like a nightly rake task.

[2017-02-09 02:34] #159 closed

[2017-02-09 02:52] magnusvk commented on #158
Getting the `MAX()` value is not currently supported but I'd be happy to look at a pull request if you added support. :)

[2017-02-09 02:52] #158 closed

[2017-02-09 08:38] artem-galas commented on #159
Thanks for your response. I overplayed a bit :)

[2017-02-09 22:53] rvracaric opened #160 "Undefined method has_one? for ActiveRecord::Reflection::AssociationReflection"
When running `counter_culture_fix_counts` on Rails 3.2.22.5, getting:

[code]

from:
[code]

If I'm not mistaken `ActiveRecord::Reflection::AssociationReflection#has_one?` is only available from Rails 4.2.1 onward?

http://apidock.com/rails/v4.2.1/ActiveRecord/Reflection/AssociationReflection/has_one%3F

Downgrading to `counter_culture 1.0.0` got rid of the crash and `counter_culture_fix_counts` w

[2017-02-21 17:10] magnusvk commented on #160
@rvracaric yup good point. It turns out that feature wasn't working anyhow. 😄 So I've removed it.

I've added automated testing for older Rails versions so I can catch this more easily in the future.

Version 1.3.0 should work for you again.

[2017-02-21 17:10] #160 closed

[2017-02-23 23:46] doits opened #162 "Rails 5.1 deprecation warnings"
With the latest Rails 5.1.0.beta1 I get the following deprecation warnings:

I traced this back to having a counter culture on my model (unfortunately I don't have an exact backtrace, but when I remove the counter the deprecation warning is gone). According to the deprecation message it looks like the "fix" is easy (just swap out some method calls?).

[2017-02-27 22:31] danielbonnell opened #163 "Bundler could not find compatible versions for gem "activemodel""
Hi, I am currently running `v1.1.1` with Rails `4.2.7.1`. When attempting to update to `v1.3.1` I am encountering the following error:

[code]

I may have misread the changelog, but I was under the impression that `v1.3.x` is backwards compatible with older versions of Rails?

Thanks!

[2017-03-02 21:30] magnusvk commented on #163
@danielbonnell yes, 1.3.1 is compatible with older versions of Rails. In fact, that's stated right there in your snippet above:
[code]

Which says counter_culture is looking for activerecord >= 3.0.0. May this just be a bundler problem? Are you doing a full-on bundle update here?

But yes, this should definitely work for you.

[2017-03-02 22:21] danielbonnell commented on #163
This is pretty odd. I'm running Bundler `1.14.5` (latest) and if I try `bundle update` or `bundle update counter_culture`, they both failed. I decided to try adding `gem 'activerecord', '4.2.7.1'` to my Gemfile even though it's already listed in my Gemfile.lock. Re-ran `bundle update counter_culture` and it worked. Then I went back, removed `gem 'activerecord', '4.2.7.1'` from my Gemfile and ran `

[2017-03-02 22:21] #163 closed

[2017-03-03 10:49] doits commented on #162
Backtrace for `changed_attributes`:

[code]

Backtrace for `attribute_changed?`:

[code]

[2017-03-03 14:37] magnusvk commented on #162
Yeah I've been working on this. It's not super straightforward, unfortunately. But, hey, Rails 5.1 is only at its first beta, so I've got time, right? 😄

[2017-03-03 17:23] doits commented on #162
Sure, thanks for the update, just wanted to make sure all the info you need is here :-)

[2017-03-10 19:32] xtagon commented on #140
I am also in need of this. My use case is a soft-deletable model: if the record is restored/undeleted, I want a callback to be fired that will fix the counter caches for just this record. Is the only way to do that presently to fix the count for all records, regardless of whether they changed or not?

[2017-03-20 11:44] timdiggins commented on #4
#154 is a new(ish) PR for *single-level* polymorphic counters (I think multi-level may be possible, I just haven't come up with a reasonable test case yet).

After a bit of too-ing and fro-ing I think this is working.

If anyone has a use-case for multi-level polymorphic counters can you add a simplified example here -- it would help motivate a subsequent multi-level polymorphic counter PR.

[2017-03-20 16:18] magnusvk commented on #140
@xtagon your case is really a bug in counter_culture, I'd argue: Undeletes should increment the counter just like creates. Feel free to file a separate issue or just do a pull-request. ;) (Alternatively, you could just write your own callback in your codebase.)

[2017-03-20 18:28] xtagon commented on #140
@magnusvk I understand...I can write my own callback, but what I'm saying is that I'm not sure what that callback would look like. I know what event to hook into for my undelete framework but I'm not sure what code I can call to regenerate the counter just for this particular model, and not the whole table. You know what I mean?

[2017-03-20 18:33] magnusvk commented on #140
Yeah, right, but why do that at all? If you're undeleting one record you know that you should just increment the counter by one, right? The way I'd want to change counter_culture is to treat `deleted_at` going from `NOT NULL` to `NULL` the same was as a create.

[2017-03-20 18:35] xtagon commented on #140
Ah, I see what you're saying. I guess I assume there must be some caveat to the obvious solution of just incrementing the count by one, because I don't know how the internals of counter_culture look. If it's that easy I think I can implement it myself in a callback but if you are interested I'm willing to work with you on a pull request...just might need some hand holding.

[2017-03-20 18:44] magnusvk commented on #140
Just looking at the code a bit more, it seems that we assume the `after_destroy` callback will get called when `deleted_at` gets set. But it doesn't seem to trigger `after_create` on undelete, which is probably right.

Are you using `acts_as_paranoid`? That provides an `after_restore` callback. If so, can you try using the `increment-count-on-restore` branch of this gem?

[2017-03-20 18:47] xtagon commented on #140
I'm using [Paranoia](https://rubygems.org/gems/paranoia) which I believe is the same thing. I'll try the `increment-count-on-restore` when I get a chance. Thanks!

[2017-03-20 19:10] magnusvk commented on #140
@xtagon I added a spec and turned this into a PR in #166. Seems to work. I'll release a gem version if you can confirm this works in real-world usage.

[2017-03-21 17:53] magnusvk commented on #162
@doits this should be fixed in the 1.4.0 gem version.

[2017-03-21 17:53] #162 closed

[2017-03-21 20:55] magnusvk commented on #4
Closing this as one-level polymorphic relationships are supported now as of version 1.5.0. Thank you @timdiggins for making this happen.

[2017-03-21 20:55] #4 closed

[2017-04-04 01:26] xtagon commented on #79
We're using UUIDs and just noticed this problem. Migration took way too long to run and we had to kill it. Anyone have an idea for a solution?

[2017-04-07 18:54] Tongboy opened #167 "Polymorphic Relation with nil parent faults attempting to update counter cache"
I have a model with a relation to polymorphic parents that can also not belong to any of those parents.

something like:
Person belongs_to: :employer, polymorphic: true

Company has_many :persons, as: :employer
NonProfit has_many :persons, as: :employer

When the Person doesn't have an employer (employer_type column is nil) counter_culture raises an exception when the model is saved or counter_cul

[2017-04-08 02:34] Looooong opened #168 "counter_culture_fix_counts doesn't work well if counter model has after_find callback"
[code]

If I run `Answer.counter_culture_fix_counts`, `Test#expired?` will throw `ActiveModel::MissingAttributeError`. This happens because `counter_culture` only `select` few columns related to count (`id` and `correct_answers_count` in this case).

A workaround by rescuing exception would be very ugly (`Test#expired?` is not the only one to throw error).

Can you add an option to `counter_cultur

[2017-04-08 16:27] magnusvk commented on #168
This isn't supposed to work without you specifying the extra column_names argument, as documented here: https://github.com/magnusvk/counter_culture/blob/master/README.md#handling-dynamic-column-names

Arguably this could show a more informative error message, but this should fix it for you.

[2017-04-08 16:27] #168 closed

[2017-04-10 01:39] Looooong commented on #168
@magnusvk I forgot to include `column_names` here, but I did have `column_names` when fixing the count. The problem is just like I said before, `counter_culture` would `find` model by `select` some if its columns, preventing callback like `after_find` accessing other attributes that's not `selected`.

[2017-04-17 15:44] magnusvk commented on #167
Thanks for reporting this, @Tongboy. This should be fixed in version 1.5.1, released just now.

[2017-04-17 15:44] #167 closed

[2017-04-22 15:24] Tongboy commented on #140
Can confirm PR #166 counts look good with Paranoia 2.3.0 after restore/undelete of soft deleted models

[2017-04-23 10:09] kntmrkm opened #169 "Can ignore if related model does not exists."
This is my code.

[code]

If one `Account` record does not have `Category`. Then Account's update action will abort.

Below code can update attributes even if `Account`'s `category_id` is nil.

`counter_culture :category, column_name: ->(o) { (o.category_id.present? && o.active?) ? 'accounts_count' : nil }`

Are there a any option to ignore existence of relation?

[2017-04-24 13:50] magnusvk commented on #169
It's hard to tell without access to more of the code, but my guess would be that the issue is in your `active?` method. Does it somehow rely on the category id being present? counter_culture itself should be fine with that value being nil; in fact, as far as the counter cache is concerned you shouldn't even need the `column_name` proc at all.

In any case, I can't see a bug in counter_culture with

[2017-04-24 13:50] #169 closed

[2017-04-24 14:02] magnusvk commented on #140
Great, I released that as gem version 1.6.0.

[2017-04-24 15:36] magnusvk commented on #168
@Looooong ahh, I see now. Your best bet would probably be to disable the `after_find` when you're using `counter_culture_fix_counts`. It wouldn't be used anyhow, counter_culture will only do an `update_all` regardless that skips all other callbacks. I'd consider a PR that adds this functionality, but this hasn't come up before so I'd consider this to be a pretty rare use case and not something tha

[2017-04-24 15:37] magnusvk commented on #79
@xtagon see my last comment for an idea on how to fix this. Happy to look at a PR if you try this and it works.

[2017-04-24 17:51] xtagon commented on #79
@magnusvk Thanks, it will take me some time to put together a test with a fork. I'll let you know what comes of it.

[2017-04-26 16:37] magnusvk commented on #79
@xtagon @jordan-thoms Just thinking about this again: It turns out we use Rails' `find_in_batches` since gem version 0.2.0 which does _not_ use `OFFSET` and rather queries on the primary key instead. So if you update to a current gem version you shouldn't see this issue.

Of course, there might be other reasons for your migration taking too long, like missing indexes.

[2017-05-04 21:08] WKD opened #170 "Using the "id" attribute in conditional counters can cause counter errors"
If you try to use the "id" attribute of your model inside the column_name Proc of a conditional counter cache, you will most likely get counter errors at some point.

Example:

`counter_culture :node, column_name: Proc.new { |ob| obj.id == obj.parent_id && obj.red? ? "root_nodes_count" : nil }`

This will not adjust the counter when the object "turns red" because the first test will ALWAYS be fals

[2017-05-04 21:49] magnusvk commented on #170
Yeah, it makes sense that this would happen. I really don't understand your code though; if you're checking whether a node is root, shouldn't you just see if `parent_id` is `nil`? Aka I'm having a hard time seeing a real use case for this.

That being said, the fix is probably simple. Can you open a pull request with a failing test for this? Then the fix is likely just to set the `id` on the duped

[2017-05-07 23:05] key88sf opened #171 "Problem when using callbacks on counter-cache model (e.g. Papertrail)"
Hi - wondering about the best way to handle this situation:
* We have a parent model that has the count column.
* Also on this parent model we are using the Papertrail gem, and we want to record changes to the count column.

Problem --> when the count column is updated from counter_culture, the update is happening via
an `update_all` statement:
counter.rb#67:
`klass.where(relation_primary_key(rela

[2017-05-15 18:59] magnusvk commented on #171
Performance is definitely a concern here; so is potential circular callbacks. I see what you're trying to do, and that makes sense to me, but it's not something that's currently supported. I'd be open to a PR that adds an option for this, but I'd want to keep the current default behavior. I don't have a need for this, so won't work on it myself. But again, very open to a PR. 😄

The only other idea

[2017-05-15 18:59] #171 closed

[2017-06-03 07:45] SakthiGurunathan07 commented on #125
Hi @magnusvk
  Whether this issue is fixed or can u help us with some approach on how to fix this ?

Thanks,
Sakthi

[2017-06-05 04:42] SakthiGurunathan07 opened #174 "Count is not updated when creation and destroy are in same transaction."
If creation and updation are part of same transaction then count should be incremented only once but if destroy also present in the same transaction then count should be decremented.

Solution:
[code]

[2017-06-08 21:31] magnusvk commented on #174
@SakthiGurunathan07 could you open a pull request with this and also a failing test case for the code as it is now?

[2017-06-08 21:35] magnusvk commented on #125
@SakthiGurunathan07 This is not fixed. Feel free to work on a PR here, I haven't had the time to work on a fix unfortunately.

[2017-06-09 22:34] kidbombay commented on #158
Ok I will start on this, any hints on where to start in the code base?

[2017-06-11 19:33] Svashta opened #175 "How to configure for modules"
Hey. I have something like this:

[code]
[code]

How do I make counter_culture work with this?
Currently i am getting:
**Blog::Post.counter_culture_fix_counts**
[code]

When I want to save Blog::Post model i get similar:
[code]

[2017-06-11 19:39] Svashta commented on #175
Ah, I see. Need to specifically set column name.
All good.

[2017-06-12 14:12] magnusvk commented on #158
You may want to look at how the `delta_column` stuff works; though the `MAX()` support would be slightly different in that it has to keep in mind the rest of the table. Still. :)

[2017-06-12 15:21] magnusvk commented on #175
👍 sorry just seeing this.

[2017-06-12 15:21] #175 closed

[2017-07-05 04:46] CodingAnarchy opened #177 "Conditional counts not updating as expected"
I am working with a `Child` class with an `active` boolean field, and this conditional count to reference another model:

[code]

When adding one of these child classes to another model with the counter, the `active` flag is not being appropriately handled.

The `<<` methodology will always add to the counter in memory, but will be rejected upon reloading the instance, regardless of whether `child

[2017-07-05 13:40] magnusvk commented on #177
You don't have enough information here to figure out what's going on, unfortunately. I don't even know what kind of ActiveRecord relationship you're using between these two classes.

Could you open a pull-request with a failing test for me?

[2017-07-06 00:10] CodingAnarchy commented on #177
I've opened #178 as a pull request with some failing tests.

The ActiveRecord relationship is a basic `has_many`, and I was looking to cache just the `active` count of the subordinate class.

[2017-07-11 05:25] CodingAnarchy commented on #177
I've got it working as expected now.  Thanks for the help.  I'll close this issue.

[2017-07-11 05:25] #177 closed

[2017-07-19 21:29] danielbonnell opened #180 "Ignore this"

[2017-07-19 21:30] #180 closed

[2017-07-19 21:30] danielbonnell commented on #180
Sorry, was tying on what I thought was another tab and accidentally submitted a bunch of gibberish on this tab. Please ignore this!

[2017-07-20 18:32] danielbonnell opened #181 "ArgumentError: The method .group() must contain arguments."
I'm running `counter_culture` v1.6.2 (upgrading to 1.7 isn't an option for me currently). I've got a `Contact`, `ContactGroup` and a `Group` model, like so:

    class Contact < ApplicationRecord
        has_many :contact_groups
        has_many :groups, through: :contact_groups

        counter_culture [:contact_groups, :group], touch: true
        counter_culture [:contact_groups, :group],

[2017-07-20 21:16] magnusvk commented on #181
@danielbonnell this is a fun one; counter_culture uses `send` to get to the other side of the relation, so in this case it calls `.group` on a `ContactGroup` which is what goes wrong here because that's an ActiveRecord method, not the association method.

That's technically a bug in counter_culture—it should probably handle reserved method names like this better.

That being said, I think you have

[2017-07-20 21:16] #181 closed

[2017-07-20 22:07] danielbonnell commented on #181
Thanks @magnusvk , I ended up just reverting all the new counters like the one above and using the background job that I had before to manually update the counts. Thought I could get this to work but it just turned into an endless rabbit hole.

[2017-07-24 18:48] passalini opened #182 "Count is not updated when destroy record with "dependent: :destroy" on relations"
This gem does not work with this simple model:
[code]
If I remove the `dependent: :destroy` of the relation, the `count` is updated. But with this option, the gem does not work!

![image](https://user-images.githubusercontent.com/475974/28539250-6742a41c-7087-11e7-8758-b8c55cfdcf9c.png)

[2017-07-31 14:45] magnusvk commented on #182
@passalini that seems strange, given that the `dependent: :destroy` isn't even on the relation that counter_culture uses. Can you open a pull request with a simple failing test case for this? Your screenshot doesn't actually help much because I have no idea what methods / objects you're working with there. Thanks.

[2017-08-03 08:47] SergejOvsiannikov opened #183 "Decrement counter on object creation"
I have a strange question.

Is there a way to decrement counter on object creation, reverse logic.

I have two models addition and subtraction. When an object was created in addition I want to increment counter like in normal flow, but if an object was created in subtraction I want to decrement the counter.

This is not typical flow for a counter, but I believe that this has the right to exist.

M

[2017-08-03 10:16] smaximov opened #184 "counter_culture_fix_counts fails when called on a model backed by a schema-namespaced database table"
Populating counter cache values doesn't seem to work with [schema](https://www.postgresql.org/docs/current/static/ddl-schemas.html)-namespaced database tables. The issue is likely due to `Reconciliation` performs joins using model's table name as the alias which doesn't represent a [valid SQL identifier](https://www.postgresql.org/docs/current/static/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS)

[2017-08-08 02:30] jamesfzhang opened #185 "Does `batch_size` config fix my problem?"
Hi, I'm currently running into issues with Rail's default `counter_cache: true`, where there are too many `UPDATE "polls" SET "votes_count" = COALESCE("votes_count", 0) + 1 WHERE "polls"."id" = 1` statements and it's backing up my database. Does the `batch_size` configuration fix this problem? Thanks.

[2017-08-08 13:46] magnusvk commented on #183
It sounds like you are looking for the [delta_magnitude](https://github.com/magnusvk/counter_culture#delta-magnitude) option here.

[2017-08-08 13:46] #183 closed

[2017-08-08 13:49] magnusvk commented on #185
No, `batch_size` is only an option for `counter_culture_fix_counts`. The queries you are seeing would be triggered by object creations that increase the count. counter_culture will always trigger a query like the above for every `INSERT`, but that's of course intended behavior. That should be a quick, atomic query though, and I haven't heard about it causing issues before.

[2017-08-08 13:49] #185 closed

[2017-08-08 16:16] jamesfzhang commented on #185
Thanks for the response. There usually isn't a problem with this specific query. However, the product I'm working on experiences a burst of traffic on certain occasions where there would be 50k inserts for one association (in this case, 50k votes on 1 poll in a minute), and you see the same `UPDATE "polls" SET "votes_count" = COALESCE("votes_count", 0) + 1 WHERE "polls"."id" = 1` repeated 50k time

[2017-08-09 17:04] CodingAnarchy opened #186 "Conditional counter fails update on multi-level cache"
I have an arrangement like this:

[code]

This `counter_culture` works fine with `Child.counter_culture_fix_counts`, but fails on an update to the `active` field of the Child instance (for instance, `Child.first.update(active: false)` with `NoMethodError: undefined method 'child_id_was' for #<Child:0x007fdd43b69478>`.  It appears to not be going off the hierarchy as I expect.

My question: is this

[2017-08-09 17:12] magnusvk commented on #186
Yes, you want the `counter_culture` call on the model that has the `belongs_to` relationship. I should clarify this in the documentation. Also, this probably still doesn't do what you want here as the count then wouldn't be updated on changes to `active` in the child. My guess is that that wouldn't currently be possible with just counter_culture code.

[2017-08-09 17:12] #186 closed

[2017-08-10 10:50] erated opened #187 "negative counts?"
Hi there, I found in our DB some negative counts for an association.

How should I go about debugging this issue? Of-course I can add a validation in our DB to prevent this from happening, but Im guessing there's a bug either in the gem or our configuration?

[2017-08-10 13:43] magnusvk commented on #182
Closing this; feel free to reopen as a PR with a failing test case.

[2017-08-10 13:43] #182 closed

[2017-08-10 13:45] magnusvk commented on #170
Closing for lack of response; feel free to reopen as a PR with a failing test case.

[2017-08-10 13:45] #170 closed

[2017-08-10 15:40] magnusvk commented on #184
@smaximov can you see if #188 fixes these issues for you? I need to think about whether I want to add a proper test for this and if so how before I merge into master. But this adds quoting to all the places where we use table names directly (I think) and fixes your ^^ test above.

[2017-08-10 15:48] smaximov commented on #184
Yes, it works for me 👍

[2017-08-10 21:00] danielbonnell opened #189 "Possible to update counts when attribute changes on model"
I've got the following in my `Request` model:

[code]
I know that when I create a new instance of `Request` that the `requests_count` field on my `Contact` model will be updated. What I would like to know is if it's possible to update the `completed_requests_count` field on `Contact` when an existing (already committed) instance of `Request` is updated such that `request.complete = true`. Currentl

[2017-08-10 21:14] magnusvk commented on #189
This should work correctly. [There's a test for exactly the behavior you are describing](https://github.com/magnusvk/counter_culture/blob/master/spec/counter_culture_spec.rb#L426) so I'm pretty sure this works.

Without seeing more context here I can't tell why this isn't working for you. Two guesses would be that you're changing the value without callbacks (thus preventing counter_culture from no

[2017-08-10 21:14] #189 closed

[2017-08-10 21:21] danielbonnell commented on #189
I'm just using the standard approach to update the request: `request.update(completed: true)`, which should trigger the callbacks on that model. I know for example that if I feed in invalid values for other attributes that the validations will fail, so not sure why the counter_culture callbacks would not be firing.

[2017-08-11 14:56] magnusvk commented on #189
@danielbonnell in the `column_name` `Proc`, why doesn't it read `cp.completed?` instead of `cp.read`? Also, I have a test for this specifically. That's a very strong indication that the problem lies in your code here. I'd be happy to reconsider that opinion if you could provide a failing test case in a PR.

[2017-08-11 19:22] danielbonnell commented on #189
@magnusvk I see, you are right, it is my code. Changing it to `cp.completed` worked perfectly. Maybe I'm just not understanding the docs correctly then, but it looks like in my example, I don't actually need the `column_names` argument just the `column_name` argument with `cp.completed` or whatever other attribute I'm checking against, right?

[2017-08-11 19:27] magnusvk commented on #189
If you remove `column_names` then `counter_culture_fix_counts` will stop working. This is all documented: https://github.com/magnusvk/counter_culture#handling-dynamic-column-names

[2017-08-30 18:22] magnusvk commented on #184
@smaximov I couldn't figure out how to write a spec for this with SQLite and I don't want to pull in a Postgres dependency just to test this. :( I merged #188 and released that as 1.8.0, so you can use that version. Fingers crossed this doesn't break in future releases. If it does, please open another issue and we'll figure out a better way to test then.

[2017-08-30 18:22] #184 closed

[2017-09-06 05:45] timshingyu opened #192 "Conditional counter cache not work"
[code]
Tried to setup the models above. When changed product status to :special `product.special!`, The `special_count` from Category model haven't updated as expected. Any idea?

[2017-09-07 15:15] jisaacks opened #193 "Anyway to set rules for whether a record should be counted?"
I have leads and listings, I am trying to keep track of how many listings a lead as viewed. I have an event record that gets created every time a lead views a listing.

This event is using counter culture like so:

[code]

The problem is, if a lead views the same listing multiple times, it creates several events. This I want, but it also causes the "views" to go up. I only want to count the views

[2017-09-07 19:51] magnusvk commented on #192
I'm sorry, but I can't provide support like this because I have no idea what `special!` does. Perhaps it changes the value without callbacks? In that case this would not be expected to work. In any case, there's tests making sure this works, so I'm quite certain the problem is in your code. Feel free to open a pull-request with a failing test if that's not the case.

[2017-09-07 19:51] #192 closed

[2017-09-07 19:53] magnusvk commented on #193
Not natively, no. And I can't think of a hack to accomplish this right now, either.

[2017-09-07 19:53] #193 closed

[2017-09-07 21:48] jisaacks commented on #193
OK, thanks I assumed this wasn't supported based on what I read in the docs, just wanted to make sure I wasn't missing something.

Thanks.

[2017-09-13 11:23] mojobiri opened #194 "Split counter_culture_fix_counts into several jobs"
Hi.
Is there a way to split `counter_culture_fix_counts` execution into several jobs?
So i could do `Contact.where(id: [...]).counter_culture_fix_counts` or something similar.
I have a lot of records and want to run update in multiple sidekiq threads so it complete faster. But in order to do that I need a mechanism to pass in ids, start_from or something..
Thanks!

[2017-09-13 18:43] kaspernj-urbanwinebox opened #195 "Not updating dynamic weight when attribute is changed"
I have the following setup:

[code]

I am then speccing it like this:
[code]

Which fails with `expected: 1 got: 0`.

I would expect counter culture to notice the change and change the weight from 0 to 1 and add the change in weight to the `active_sales_ads_count` column on the district.

[2017-09-14 11:08] mojobiri commented on #195
Did you tried to check it out in rails console?
In tests it might be because transaction fixtures are used. Try to disable transaction fixtures:
[code]

[2017-09-14 16:02] magnusvk commented on #194
There is not. That's a great idea, though. I'd love to see a PR for that! :)

[2017-09-14 16:02] #194 closed

[2017-09-14 16:11] magnusvk commented on #195
Looking at the code, it looks like you're right: This doesn't currently work. There's no way for counter_culture to know which column to watch for changes as you're just passing in a `proc`. We'd have to add another option to specify the columns to watch, I think. I don't use this feature, so I don't think I'll have the time to work on fixing this. I'd love to see a PR though!

That being said, wh

[2017-09-15 11:27] kaspernj commented on #195
@magnusvk Do you think the following could work?

1. Hook into `before_save on: :update` and calculate the `delta_magnitude`
2. Hook into `after_save on: :update` and calculate the `delta_magnitude` again.
3. If there is a difference in the two, then add the difference to the column.

Then we could avoid forcing the user to have to define the columns. On the other hand it would require a bit more

[2017-09-15 13:18] magnusvk commented on #195
The value would already be changed on `before_save`, but you're right, counter_culture [already has a way of giving you the model in its previous state](https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/counter.rb#L261), so we could calculate the `delta_magnitude` before and after and see if it changed.

[See this](https://github.com/magnusvk/counter_culture/blob/master/l

[2017-09-16 10:35] mojobiri opened #196 "Unable to pass in #batch_size to counter_culture_fix_counts"
Hi.
Looks like following line is making an issue [there](https://github.com/magnusvk/counter_culture/blob/be0625c05ec94da37e9bba3861be3750467ae36c/lib/counter_culture/extensions.rb#L66)
[code]

[2017-09-22 09:00] pcraston opened #197 "Calling counter_culture_fix_counts throws ArgumentError"
Sorry if I'm missing something obvious here but I'm getting a `ArgumentError: wrong number of arguments (given 0, expected 1..3)` error when I run the `counter_culture_fix_counts` command without any arguments (as shown in the readme) on my model.

Here's the traceback:

[code]

Might be related to https://github.com/magnusvk/counter_culture/issues/196 ?

[2017-09-22 09:49] pcraston commented on #197
Seems like it's an issue with the model in my project. sorry for the noise..

[2017-09-22 09:49] #197 closed

[2017-09-27 14:05] magnusvk commented on #196
@mojobiri fixed in 1.8.2.

[2017-09-27 14:05] #196 closed

[2017-10-05 20:07] xtagon commented on #24
Would changing it to do an update_all with a JOIN help out with https://github.com/magnusvk/counter_culture/issues/79 at all?

Even though that issue was closed, it is actually still a pressing issue for me and I haven't found a suitible solution yet.

[2017-10-05 20:09] xtagon commented on #79
I tried this with the latest version of the gem, and it actually does use offset to get the count per batch. And it's way too slow still, because for a large number of rows, the count query cost increases drastically with every batch.

[2017-10-05 20:26] xtagon commented on #79
Hi, I must appologize. I incorrectly believed the OFFSET was being used - in reality, my app had a patch from 2015 before find_in_batches was fixed for UUIDs (see https://github.com/rails/rails/issues/5786)

However, even with removing that patch, the migration is extremely slow. I would be interested in a version that does a more efficient update_all but I don't know where to begin and I'm still

[2017-10-05 20:47] magnusvk commented on #79
Really hard to tell without knowing more about your schema. You'll probably want to look at the queries it runs and use `EXPLAIN` to figure out why they're slow.

[2017-10-05 20:48] magnusvk commented on #24
@xtagon I'm not sure what you mean to be honest.

[2017-10-05 20:49] xtagon commented on #79
I'm happy to provide more information if it helps. I'll gather some details and post it back soon.

[2017-10-05 21:07] xtagon commented on #79
I have the following schema:

- Subject has many SubjectPhotoAssignments
- Subject table has `photos_count` column
- SubjectPhotoAssignment belongs to Subject
- SubjectPhotoAssignment has `counter_culture :subject, column_name: "photos_count"`

The counter cache here was not added until late in the product's life, so right now we have around 1599435 `subjects` rows and 1671735 `subject_photo_assig

[2017-10-05 21:41] xtagon commented on #24
@magnusvk I was hoping this meant `counter_culture_fix_counts` would be faster in that case

[2017-10-05 22:08] magnusvk commented on #24
@xtagon it uses `update_all`: https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/reconciler.rb#L118

[2017-10-05 22:20] magnusvk commented on #79
Something weird is going on there for you. It shouldn't issue a separate count query for every object, the single slow query at the beginning is the only thing that counter_culture issues. You can see this in the code, and I also verified that by running the tests and looking at the SQL queries. It should be only the slow, big query for the whole batch at the beginning, and then updates only for i

[2017-10-05 22:58] xtagon commented on #79
I am using the latest version, and not a modified version of counter_culture, and not patching ActiveRecord. I did have a monkey patch for find_in_batches before, but I removed that and tested again before pasting those results for you. That solved what I was seeing with OFFSET before.

Based on what you are saying I think something funky is going on with my setup  but I'm not quite sure what it i

[2017-10-06 01:27] xtagon commented on #79
Turns out this is simple enough that counter_culture can be sidestepped. I'm leaving this here in case anyone in the future finds this issue and needs to update millions of records in under a minute:

[code]

It does recompute the entirety of the subjects even if only some have changed, but it was fast.

Thanks again @magnusvk for being patient with me.

[2017-10-06 01:31] xtagon commented on #24
@magnusvk Yes it does, but it does 1 `update_all` per primary key, so it's effectively a singular update.

In the end I was able to do a single `update_all` to compute counts for a table of millions of records in under a minute, but my use case is very simplified compared to what counter_culture supports so I can see how that would be hard to add to the library (with things like soft deletion, adv

[2017-10-06 13:41] magnusvk commented on #24
Great, glad you could get it resolved. :)

[2017-11-29 17:24] pedantic-git commented on #125
Oooof - just had a go at fixing this but it's *hard*. `counter_culture` tracks changes by inserting callbacks into the model that contains the `counter_culture` directive, but in order to do this, callbacks would have to be inserted into the intermediate models using reflection. I'm not sure it's easy to solve without a big rewrite of some of the core functionality. @magnusvk would you agree?

[2017-11-29 19:43] magnusvk commented on #125
Yeah, unfortunately that sounds right.

[2017-11-30 14:30] alagos opened #206 "Updating counters of a single record with dynamic column names"
I have the following counters:

[code]
and this method:
[code]
So I was thinking that changing `checked_at` from `nil` to something would update the `checked_messages_count` counter, but it wasn't.
Calling `Message.counter_culture_fix_counts` fixed the counters, but I'm willing to update the counters only for the order associated to my message.
Is there a way with c_c to update just this single or

[2017-11-30 16:50] magnusvk commented on #206
`update_all` doesn't run callbacks, so there's no way for counter_culture to know that you're checking values. You'd have to iterate over the records and `update_attributes` on them instead.

[2017-11-30 16:50] #206 closed

[2017-12-08 20:56] lukaszludzik commented on #125
This is not perfect solution, but works. If you want to count products for categories you must also count for subcategories.

[code]

[2018-01-20 14:05] PilotCurly99 opened #208 "Accept Static Delta Magnitude when Delta Column present"
I ran into an issue where I need to change the sign on a totaling function when using delta column.  When I dug in it appears that the delta_magnitude is ignored when a delta_column is present.  I think I follow the logic to do this when the delta magnitude is a Proc, but I think it would be a very small change to allow it to accept a static magnitude (in my case -1).  If the delta magnitude was a

[2018-01-20 18:51] magnusvk commented on #208
@PilotCurly99 I'm not 100% sure I understand what you're trying to do. Couldn't you just use `delta_magnitude: proc {|model| -1 * model.delta_column}`, without using the delta_column at all? That seems simpler and more straightforward to me.

[2018-01-21 11:48] PilotCurly99 commented on #208
Thank you, @magnusvk . Here's an example where delta_magnitude appears to be ignored. If there is a simpler way to achieve this, I am missing it.  I want it to subtract the value of amount_cents from the parent model column of repayment_cents.

`counter_culture :company_account, column_name: proc {|model| model.repayment? && model.reconciled? ? 'repayment_cents' : nil }, delta_column: "amount_cent

[2018-01-21 11:55] PilotCurly99 commented on #208
I see what you are saying now.  Disregard.  Closing issue.  Thanks for the help!

[2018-01-21 11:55] #208 closed

[2018-01-25 13:30] AlexVPopov opened #210 "Set updated_at when executing counter_culture_fix_counts"
[code]

and

[code]

I think in this case also the `updated_at` field of the `foos` needs to be updated.

Does this make sense to you?

[2018-01-25 13:34] AlexVPopov commented on #210
Currently, as I workaround, in a migration, I'd put `Foo.find_each(&:touch)`.

[2018-02-06 18:37] magnusvk commented on #210
Yeah, that makes sense. Feel free to submit a PR. 😄

[2018-02-19 08:02] AlexVPopov commented on #210
@magnusvk I'm willing to submit a PR. What I've done so far:
* forked the project;
* cloned locally the fork;
* ran `rspec spec`

I get the following failure:

[code]

After some investigation I found out that the failure is cause by [the `after_create` callback in `Review`](https://github.com/magnusvk/counter_culture/blob/master/spec/models/review.rb#L20). When I comment out this callback, the te

[2018-02-20 03:13] danielricecodes commented on #189
@magnusvk - could you explain this a little bit more?

I'm having a similar issue with this gem, albeit I am trying it out and my scenario is much more complex than anything I've seen others post.  Essentially, I'm noticing that my conditional counter cache is being ignored when I update a record.  When I create the record, the counter is updated as expected.

I'm trying to use your gem to keep va

[2018-02-20 06:33] AlexVPopov commented on #210
O.K., this does not happen on 5.1.4., it only happens on 5.1.5. I think the problem is somehow related to https://github.com/rails/rails/pull/27780

[2018-02-20 13:46] magnusvk commented on #210
Yeah, this used to work fine with Rails 5.1. I haven’t had a chance to look into this yet but will try to soon. Thanks for digging. For purposes of your PR feel free to just test against 5.1.4 for now where the test is green.

[2018-02-20 18:11] danielricecodes commented on #189
@magnusvk - I figured out the issue.  I am not updating the `delta_column` so the counter cache update is not triggered.  This is coded [here](https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/extensions.rb#L118).

I believe I am headed towards forking your gem now!

Thank you for making this gem by the way - I have used it in numerous projects and it always works perfect

[2018-02-22 16:15] ConfusedVorlon opened #213 "Documentation request - when does the update run?"
assuming I'm not using execute_after_commit - can you specify in the docs where in the callback chain the updates happen?

I currently have a case where the counter update seems to have happened by the time an after_save callback runs on my model.

I'm not sure whether this is luck (just happened to be be earlier in the list of after_save callbacks), or design (counter_culture runs in an earlier c

[2018-02-26 03:28] milushov commented on #195
@magnusvk, please use canonical links when you pasting links to the source code :)

![image](https://user-images.githubusercontent.com/424326/36652169-f4dd6d2e-1ae7-11e8-906b-c7b5d4dceb36.png)

[2018-04-04 20:53] dcalixto opened #215 "rollback migartion FOREIGN KEY issue!"
after setup the gem i tried to rollback the migration and BANG!  a migration issue!

[code]
someone with the same issue with rails 5

[2018-04-09 22:40] magnusvk commented on #215
If you look at the database migration template, it doesn't include a drop table so this is unrelated to counter_culture:
https://github.com/magnusvk/counter_culture/blob/master/lib/generators/templates/counter_culture_migration.rb.erb

[2018-04-09 22:40] #215 closed

[2018-04-09 22:56] magnusvk commented on #213
@ConfusedVorlon it registers callbacks when you call `counter_culture` in your model, so this will depend on whether you call `counter_culture` first or register your own callbacks first.

[2018-04-09 22:56] #213 closed

[2018-04-09 22:58] magnusvk commented on #189
@danielricecodes thanks for the kind words! Sorry this doesn't work out of the box; feel free to fork, of course, but if there's a relatively-contained way of adding optional support for this I'd look at a PR, too.

[2018-04-17 12:08] key88sf opened #216 "with_papertrail broken when using Papertrail 9x"
The behavior of this option and its intent is now broken in Papertrail 9 due to this issue:
https://github.com/airblade/paper_trail/issues/1076

When using the `with_papertrail` option and a change is made which affects a counter_culture model, the model's counted row is *not* updated in the papertrail versions table.

[2018-04-17 13:00] magnusvk commented on #216
Interesting. I don’t use this feature myself. It’s interesting though that the tests are green for this behavior in counter_culture as of now. How is that? Would you have a failing test to demonstrate the issue? Also sounds like it might be something that should be fixed in paper_trail rather than here?

[2018-04-17 14:07] key88sf commented on #216
It definitely needs to be fixed in paper_trail. I'm just referencing it here to make people aware. I have a unit test in our application which is failing because of this. Can prob come up with a simplified test case here too.

[2018-05-01 17:06] danielbonnell opened #217 "Skip update counter caches upon creation"
Hi, I have a model, `Click` that has a bunch of counter caches defined on it dynamically. `Click` is an analytics endpoint in my app that creates/updates an instance of `Click` with some data attached to it. It needs to be lightning fast (ideally the database portion should consume less than 50ms). Without the counter caches defined on `Click`, an instance takes between 20-50ms to be committed to

[2018-05-01 18:35] danielbonnell commented on #217
The time is actually significantly worse still when creating a new instance of `Click` as opposed to updating an existing instance. Here is the log when creating a new instance (the previous logs were for updates).

[code]

[2018-05-02 13:51] magnusvk commented on #96
@bartoszkopinski this is an open-source project, you know. Feel free to open a PR to improve the documentation or the behavior itself. I'd be excited to look at it.

Also, frankly, people with your kind of attitude ^^ sometimes make me wonder why I give my time away for free here. So if you don't like my project, feel free to go away.

[2018-05-02 13:54] magnusvk commented on #217
It looks like you have 55 counter caches on five different models. I don't think I've ever seen anybody use counter_culture this aggressively before. 😄

I don't really know what to tell you, though—it doesn't appear that there are any unnecessary SQL queries here. Your best bet would probably be to move the counter updates to the background with Sidekiq, however that's not something counter_cultur

[2018-05-02 13:54] #217 closed

[2018-05-02 14:16] magnusvk commented on #216
@key88sf so PaperTrail added `save_with_version` which I can use here, too. I think at that point we're back to the previous behavior? Can you verify that fixes your spec?

If so, could you please help me find a spec to include here in counter_culture to verify this behavior going forward? I'm still confused as to which behavior has changed here: [Our spec](https://github.com/magnusvk/counter_cult

[2018-05-02 14:16] magnusvk commented on #210
Fixed by #212

[2018-05-02 14:16] #210 closed

[2018-05-02 14:17] magnusvk commented on #174
Closing for inactivity.

[2018-05-02 14:17] #174 closed

[2018-05-02 15:08] danielbonnell commented on #217
I might just offload the work to a background job then. This gem is generally a life saver for an analytics/metrics intensive app like mine. I've got (collectively) hundreds of counter caches throughout the app. Thanks again for taking a look!

[2018-05-02 15:11] magnusvk commented on #217
Yup, happy to. Would it be an option to push the entire `create` to a background job? That way your endpoint can respond quickly no matter how long the inserts take. :)

[2018-05-02 15:13] danielbonnell commented on #217
Hadn't thought of that. Takes a few ms to queue a job in Redis vs tens of ms or more for a SQL commit.  Very clever! :)

[2018-05-02 15:15] key88sf commented on #216
@magnusvk Yes this fixes it.

The spec needs to look *within* the version created (not just if a version is created). Specifically, it needs to look at the `object` hash and test that the counter column has been changed/incremented. You are correct object_changes isn't modified by this, however, the value in `object` should be accurate. That is the test we need, and which will fail if the `with_pa

[2018-05-02 15:26] bartoszkopinski commented on #96
@magnusvk You were the one with the attitude criticising OP for not reading docs while the docs are literally wrong and incomplete.
Same [here](https://github.com/magnusvk/counter_culture/issues/118) and [here](https://github.com/magnusvk/counter_culture/issues/130).

[2018-05-02 16:09] magnusvk commented on #96
¯\_(ツ)_/¯

I tried to write docs that explain this, to the best of my ability. If you have a better suggestion, stop complaining and open a PR. That is literally how open source works.

[2018-05-03 21:56] magnusvk commented on #216
@key88sf I added another spec in #218 — but found that I also had to make another change so that it would record the actual, updated count. Previously, it was saving the count as it was before it was incremented, rather than after the increment.

Can you take another look? If #218 still looks good I can merge and release a new gem version.

[2018-05-03 22:51] key88sf commented on #216
Commented -- I think there is 1 problem. Let me know. Thanks!

[2018-05-07 14:11] #216 closed

[2018-05-07 14:13] magnusvk commented on #216
@key88sf update released as 1.11.0. Thanks for your help figuring this out!

[2018-05-22 15:51] joemsak opened #219 "Database ID is nil inside column_name proc?"
I have a counter culture in an AR model like so

It's a `Score` which belongs to a `Submission` and a `Judge`

(all data is already persisted at runtime and in context of this error)

[code]

Not sure what's happening here but I'm actually trying to change the judge association to another record, and then save the score

When I debug before calling save on the score, I get a database ID and the co

[2018-05-23 16:45] magnusvk commented on #219
I'm not sure what you're trying to do here exactly and I can't repro with the above.

FWIW you would expect the `id` to sometimes be `nil` because counter_cache has to figure out what the column name was before any changes in the update callback and does this by duping the model and reverting the changes ([see here](https://github.com/magnusvk/counter_culture/blob/3070845a4af6a3076c66f488f3af7d7fe

[2018-05-23 16:45] #219 closed

[2018-05-23 16:59] joemsak commented on #219
@magnusvk So yeah, I reported the ID nil because that really surprised me, and I found this when what I was really trying to check was the judge relationship. I didn't know I should expect a copy of the model with a nil ID so that's why I reported the nil ID and not the nil judge directly

So the issue was I was trying to assign a new judge, as the old record was accidentally deleted, and I was as

[2018-05-23 17:51] magnusvk commented on #219
So you're doing an update here, not a create; therefore counter_culture needs to determine the column name twice: once in the state _before_ your changes and once _after_ your changes. Then it'll decrement the old column name and increment the new column name. This way the counts will change correctly if the calculated column name changes. If it doesn't change, it's a no-op.

But given all that yo

[2018-05-23 17:58] joemsak commented on #219
@magnusvk Thank you, I appreciate your explanation! It wasn't clear to me that it has a before and after mechanism. Perhaps I missed it in my glance at the usage docs. Cheers

[2018-05-23 18:44] magnusvk commented on #219
It's quite possible this isn't properly documented. 😄

[2018-06-12 09:09] devmtnaing opened #221 "Counter Culture is limiting count update ONCE per COMMIT"
As I noticed here, https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/extensions.rb#L92

counter_culture is limiting One count update per commit, so

[code]

Based on above code, We will get `issued_count` incremented, `redeem_count` ignored.

Any suggestion on how to get the count updated as the model get saved during the single transaction commit?

[2018-06-12 15:46] magnusvk commented on #221
@devmtnaing good point. I added a test and fix for this in #222. This logic is from a time where we were running counter updates after commit by default, which has not been the case for a while. In fact, it's not even tested; I spent a little time trying to add tests for that but it's a pain and there's no real reason for it, so I figure why not deprecate it instead.

Can you confirm this fixes yo

[2018-06-13 09:24] devmtnaing commented on #221
Yes,  I think #222 fixes the issue. Thanks. 👍

As quick fix for ourselves, we called `self.instance_variable_set('@_counter_culture_active', false)` as `before_save` on the Model iteself.

[2018-06-14 17:02] mrjusepelo opened #223 "Update columns_count from Multi-level counter with condition"
Hello,
My structure is this:

ModelProduct
counter_culture [:subcategory, :category]

Thank you!

[2018-06-14 17:39] magnusvk commented on #223
I don't understand why you opened this issue; is there a question or a problem here that I don't understand?

[2018-06-14 17:39] #223 closed

[2018-06-14 18:32] mrjusepelo commented on #223
I'm sorry,
How to do a counter cache to products with status active  ?
Is posible have two counter cache (actives and inactives) from model Product?

Thank you!

[2018-06-14 18:48] magnusvk commented on #223
This looks like the documentation you're looking for: https://github.com/magnusvk/counter_culture#dynamic-column-name

Also, issues are not a support hotline. Please try to read the documentation before you open an issue.

[2018-06-18 13:59] #221 closed

[2018-06-18 14:00] magnusvk commented on #221
@devmtnaing thanks for reporting this; released as 2.0.0 as this is a breaking change for some people.

[2018-06-19 21:34] Genkilabs commented on #215
FYI this is a core Rails break and was fixed here: https://github.com/rails/rails/pull/32865/commits/45881b0a64b4039e3b0d27e2c4d959dc2d744b9d
Currently on master but unreleased on 5.2.0

[2018-08-01 02:54] danielricecodes commented on #189
@magnusvk - I've finally been able to return to this issue after some time.  I've been able to determine that my configuration above is actually fine - but I had some additional `after_create` callbacks that were interfering with `counter_culture`.  That said, I haven't been able to completely rule out a potential bug when the counter culture class has other `after_*` callbacks defined.

I've seen

[2018-08-01 23:11] magnusvk commented on #189
If that's the case, [upgrading to 2.0.0](https://github.com/magnusvk/counter_culture/blob/master/CHANGELOG.md#200-june-12-2018) might fix this for you. That removes the whole `@_counter_culture_active` and `execute_after_commit` logic.

[2018-08-15 23:05] key88sf opened #224 "Timestamps not set when creating papertrail version row from counter update"
@magnusvk Another bug from using the new `save_with_version` function from Papertrail. The instance's `updated_at` is not being updated now with this new method.

Papertrail uses the `updated_at` value of the instance to set the `created_at` timestamp on their new version row (presumably so it exactly matches the time the model itself was updated).

So now what we have happening is that version ro

[2018-08-19 07:03] Masaokb opened #226 "Polymorphic association does not support to compute class."
Thank you for creating this great gem!
I have some issue when using polymorphic multi-level customizing column-name counter-cache:

I have 3 tables: Likes, Users, Topics.

[code]
Topic is `likeable` and has `likes_count`
[code]
User has `likes_count` and `resource_likes_count`

[code]

Then, when creating Like like this,
[code]

I used counter_culture (2.0.0).
What should I do??

[2018-08-19 16:34] magnusvk commented on #226
counter_culture unfortunately doesn't support multi-level polymorphic counter caches. https://github.com/magnusvk/counter_culture#polymorphic-associations

[2018-08-19 16:34] #226 closed

[2018-08-21 16:58] #224 closed

[2018-08-21 17:00] magnusvk commented on #224
Fix released as 2.0.1. Thanks for contributing!

[2018-08-28 23:00] sarah-mostafa-m opened #228 "Counter should decrement on `really_destroy!` if not preceded by `destroy`"
the counter works successfully on create but not on delete, it does this when using really_destroy! from act_as_paranoid gem

[2018-08-30 07:27] sarah-mostafa-m commented on #228
Yeah it decrements only on destroy, but doesnt it make sense that it should decrement on both destroy and really_destroy!?

[2018-08-30 12:48] magnusvk commented on #228
It doesn't: If you started with an empty table, then created, then destroyed, then really destroyed a model, you'd end up with a count of -1 even though the table is now empty again. That doesn't make sense to me.

[2018-08-30 12:50] sarah-mostafa-m commented on #228
Then in case of really_destroy! it should decrement only if not destroyed already

[2018-09-04 22:52] magnusvk commented on #228
@sarah-mostafa-m ok, that's a good point. I don't have time to work on this given that I don't use these features. Do you have time to put together a pull request with a test?

[2018-09-09 11:00] kashifnaseer opened #229 "change timestamp conditionally with counter_culture"
counter_culture :project, touch: true,

This command changes updated_at of Project Model. I want to change this behavior and want to update timestamp conditionally, something like

    counter_culture :project, touch: Proc.new {|participant| participant.project.created_by_data_entry_team?  },
How i can do it ?

[2018-09-10 12:27] magnusvk commented on #229
This isn't possible, and I'd say this kind of thing falls outside of the scope of this project, so I'd even be hesitant to accept a PR for this.

[2018-09-10 12:27] #229 closed

[2018-09-19 01:28] archonic opened #230 "Fixing counter caches not supported when :delta_magnitude is a Proc"
I've hit this when trying to fix counter_culture counts:
[code]

Is there no way to tell it to just do it anyway? Do I have iterate over every record and manually set the cache column myself?

[2018-09-19 02:09] magnusvk commented on #230
Yes. That's what this message says, right?

Or feel free to open a pull request that adds support for this to counter_culture.

[2018-09-19 02:09] #230 closed

[2018-09-19 03:45] jayehernandez commented on #30
I encountered a similar scenario as @swapab, I was wondering if the joins option is already included in the gem?

[2018-09-19 12:48] magnusvk commented on #30
No, unfortunately #138 was abandoned before it was ready to merge.

[2018-10-05 00:48] rlugge opened #232 "Gem does not properly deduce namespaced classes database table name"
Overview:

I have two classes -- call them `FooBar::Show` and `FooBar::Act`.  Each show has many acts.  Show has a column `foo_bar_act_count` (defined with `null: false, default: 0`).  Add 'counter_culture :show` to the act class to tell Counter Culture to maintain my count column.

Expected Behaviour:

Running `FooBar::Act.counter_culture_fix_counts` should update the count values in the various

[2018-10-11 19:01] etcook opened #233 "Scoping polymorphic counters to specific related entity"
I noticed that at one point, there was a :polymorphic_associated_models param, but it was removed in favor of inferring them.  I'm only interested in countering one of the polymorphic relationships. Is the accepted pattern to proc these conditionally or is there a way to define the specific polymorphic entities that you're interested in counting?

[2018-10-11 23:33] archonic commented on #230
Perhaps you could help me with some syntax. I'm not sure how to provide `:column_names` to the `counter_culture_fix_counts` method. Looking at the code hasn't helped so far and it's not in the examples in the readme.

In my app, a Section has many Comments. I have this on my Comment model:
[code]

How can I fix the count for both `open_count` and `closed_count`? The method looks to accept a hash b

[2018-10-18 01:58] magnusvk commented on #232
@rlugge I think I have a fix in #234, but I still have to wait for the tests to go green in CI.

However, I would say the correct behavior here is actually to expect `acts_count` rather than `foo_bar_acts_count`, though arguably that's debatable. In any case, it should be better behavior than including a slash which is just always wrong.

[2018-10-19 17:20] #232 closed

[2018-10-19 22:45] magnusvk commented on #233
This isn't something that has come up before; there is no way to define the specific polymorphic entities you would like to count. If using a proc to do this conditionally works for you, that sounds like a good way to approach this. I don't think we specifically test for this, though, so I'm not 100% sure it will work.

[2018-10-19 22:45] #233 closed

[2018-10-20 00:15] etcook commented on #233
@magnusvk I don't understand why you say it hasn't come up before, when there was code to do just this in a PR that was removed. The issue with procs, in general, is that CC refuses to update the counters and you have to write manual routines. If you're going to have to write manual routines anyways, there's not much point in using CC.

Thoughts?

[2018-10-29 15:11] cintamani opened #236 "Create and destroy do not reload associated object"
## The problem
When creating or destroying an object with a `counter_cache` association, the associated object will update the count correctly but its instance is not reloaded in the original object.

Given 2 models:
[code]

I expect that:
[code]
without the need to `comment.post.reload`.

The important things to note here is that if we use the rails `counter_cache` feature this test will pass.
Th

[2018-11-02 02:55] magnusvk commented on #236
I'm not sure if I'd call this a bug, but it would definitely be an improvement for this to happen without the need for a reload. That being said, I won't have time to work on this. But I'd love a PR to this effect!

[2018-11-07 14:40] cintamani commented on #236
thanks for the clarification @magnusvk :) I'll write some code and open a PR for this

[2018-11-15 20:08] abrambailey commented on #140
I tried running `user.fix_counts` and `user.counter_culture_fix_counts` and this is still not working for me. In my case I'm attempting to merge records and re-assigning some counted associations (ids change to target of the merge).

[2018-11-15 20:16] magnusvk commented on #140
@abrambailey counter_culture doesn't support doing that on a single model. You'd have to run fix counts for the entire model, or do this manually.

[2018-11-15 20:19] abrambailey commented on #140
@magnusvk If I just manually update the count column on the object would that have any negative impact?

[2018-11-15 20:21] magnusvk commented on #140
No that should be fine.

[2018-11-30 15:45] timdiggins opened #238 "Issues with asynchronous simultaneous updates"
I think that i'm having relatively frequent issues where two near-simultaneous updates are causing incorrect resultant counts (they are getting fixed by periodic counter_culture_fix_counts).

My question is  whether my analysis is correct, and also checking if there is a mechanism in counter_culture to change the strategy from a increment/decrement basis to a count basis (slightly slower, but more

[2018-12-07 22:37] #228 closed

[2018-12-07 23:08] magnusvk commented on #238
@timdiggins counter_culture runs a thread-safe update in the database along the lines of `counter_column = COALESCE(counter_column, 0) + 1` so in the simple case concurrent updates shouldn't cause any issues. However, I could see how the use of a dynamic counter cache could be causing issues—if two threads simultaneously see this switch from uncompleted to completed, they might trigger two updates

[2018-12-07 23:08] #238 closed

[2018-12-19 12:52] WaKeMaTTa opened #240 "Size is not working properlly"
### Scenario

`User` has many `Comment`.

We update the counter cache of a `User` with the value `12345`.

#### Expected

`user.comments_count` is equal to `12345`.
AND
`user.comments.size` is equal to `12345`.

#### Current behaviour

:heavy_check_mark: `user.comments_count` is equal to `12345`.
AND
:x: `user.comments.size` is different to `12345`.

### Some hints

Following the trace I found tha

[2019-01-09 16:53] jshow opened #243 "Rails 5.2.2, Polymorphic associations do not support computing the class."
When using counter_culture in a polymorphic chain, rails barfs when counter_culture tries to determine the klass of a relation

[code]
the :page relation in :medium is polymorphic

the flavour of the barf is
[code]

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/reflection.rb#L421

[2019-01-13 00:32] magnusvk commented on #243
counter_culture only supports polymorphic associations of one level: https://github.com/magnusvk/counter_culture#polymorphic-associations

You're trying to do this with a multi-level counter cache which is not supported.

Admittedly, the error message here isn't great, sorry about the confusion.

[2019-01-13 00:32] #243 closed

[2019-01-17 15:22] #236 closed

[2019-01-18 12:23] MobileD2 opened #245 "counter_culture_fix_counts does not work properly with dynamic columns"
Hi,

I have dynamic column set for counter_culture but when I tried to run `Order.counter_culture_fix_counts` in rails console to update counters, it raises me an error:

`RuntimeError (Must provide :column_names option for relation [:order_group] when :column_name is a Proc; you may skip this relation with :skip_unsupported => true)
`

My setup: Rails 5.2, counter_culture 2.1.2
Order and OrderGro

[2019-01-18 14:45] magnusvk commented on #245
That's the price you pay for being able to fix counts in aggregate—it needs SQL-style conditions. This is all working as designed and documented.

[2019-01-18 14:45] #245 closed

[2019-01-19 21:49] MobileD2 commented on #245
I found one solution to do that. It could be done by extracting where clause from scope via Arel:

[code]

[2019-01-21 17:06] magnusvk commented on #245
@MobileD2 that's great! FWIW, I'd be happy to look at a pull request that adds support for using scopes here directly.

[2019-03-14 17:05] PhilCoggins commented on #140
This is a feature that I'd love to see in CounterCulture, it would improve parity with Rails' vanilla CounterCache.

As a temp workaround, I can call `Reconciliation` directly with a scope that I give it:

[code]

@magnusvk Do you see any potential issues with calling `Reconciliation` directly? Any desire to add this feature in the future?

[2019-03-25 16:16] sebastienhoorens commented on #125
We tried @lukaszludzik 's solution but it didn't work in our case. We will try to solve it using callbacks on the model.

[2019-04-09 21:00] reidab opened #253 "PostgreSQL error when primary_key column is not indexed as primary_key"
On PostgreSQL, if the table where the counts are stored doesn't have a primary_key specified (in our case, because it's actually a view), reconciliation fails with an error:

[code]

This is because, according to the [Postgres docs](https://www.postgresql.org/docs/current/static/sql-select.html#SQL-GROUPBY):

When there's no primary key index present, even though Rails knows what the primary key i

[2019-04-29 17:38] magnusvk commented on #140
Probably fine, though it's not designed to be used that way. @PhilCoggins could you use the new `where` option for this? https://github.com/magnusvk/counter_culture#manually-populating-counter-cache-values

[2019-05-05 19:20] #253 closed

[2019-05-05 23:43] rmm5t commented on #229
🤔Hmm. I just came here looking for a similar feature. Here's my use-case, FWIW:

[code]

When a project is created or updated to point at thing1, I'd like `thing1.used_at` to be touched, but when the project is changed from `thing1` to `thing2`, I'd only like `thing2.used_at` to be touched.

Similarly, if a project is destroyed, I don't want `used_at` to be touched.

I think I could at least get m

[2019-05-07 13:38] magnusvk commented on #229
Let me expand a bit on my reasoning for my earlier comment: This gem does counter caching. The touch logic was added only to allow changing the updated timestamp when the counter cache changes.

The change you're outlining seems unrelated the the purpose of counter caching. There's nothing wrong with what you're trying to do, I just don't think it belongs in this gem. I don't even clearly see how

[2019-05-07 21:26] magnusvk commented on #229
So... I'm always willing to look at a PR. If this ends up being an easy change with a couple of lines of code and good test coverage, I don't want to rule out pulling that in and maintaining it. But this seems ancillary enough to the primary use case here that I am really hesitant, particularly if it appears like a big change and thus maintenance burden on my part.

If you want to go ahead and try

[2019-05-08 02:18] rmm5t commented on #229
All fair. I get it.  I’ll try to find time for a PR later this week. Your call after that.

[2019-06-03 18:57] Zhao-Andy opened #259 "Possible to track a total count and two conditional counts?"
I'm trying to keep track of three columns on a single table/model: `credits_count`, `unspent_credits_count` and `spent_credits_count`. Right now, I've only been able to count either:
- _only_ the total `credits_count`, or
- _both_ the `spent_credits_count` and `unspent_credits_count`.

After looking at the documentation, there isn't a clear example of whether this is possible or not. I'm guessing

[2019-06-04 17:43] magnusvk commented on #259
Sorry, but this is not a support hotline. Why don't you give it a try and then report back? I think this should work, but maybe I'm missing something.

[2019-06-04 17:43] #259 closed

[2019-06-06 00:07] Zhao-Andy commented on #259
No worries; this is more of a bug report, but could possible be just an issue with configuration. If it is the latter, I'd be more than willing to add some documentation for it. To be clear, both examples are not working as expected, but perhaps I configured it wrong. The TL;DR is that each respective configuration results in some of the columns not being tracked properly.

The first configuration

[2019-06-13 14:39] PhilCoggins commented on #140
@magnusvk This works great, thank you!

[2019-06-27 19:11] jbritten commented on #120
I'm experiencing deadlocks using MySQL & counter_cache at scale (database under heavy load with many concurrent requests competing to update the counters).

Any chance the "execute_after_commit" option can be added back? I don't understand why it was removed from 2.x in the first place. Seems that whether to update the counters inside or outside of the transaction should be left to the user to dec

[2019-07-01 02:32] magnusvk commented on #120
Sorry you're having issues with this. Interestingly, this issue was first added because of deadlock issues with Postgres. It's somewhat ironic that it's now MySQL causing a similar issue.

In any case, the history of removing this comes from a bugfix to allow multiple saves in one transaction, see 81dfbf55495b59afab844bbd0ff14fbff3cb922b. Plus, in the absence of issues like this with the database

[2019-07-01 16:28] jbritten commented on #120
Thank you for summarizing the history of this change and work-around suggestions. Ironically, I received another deadlock exception while reading your reply.

Would you be okay with me opening a new issue to track adding back the execute_after_commit feature?

[2019-07-01 17:22] jbritten opened #263 "Support Updating Counter Cache After Commit (to avoid deadlocks)"
Support updating the counter cache after commit (outside the primary transaction) where the SQL UPDATE calls would be less susceptible to deadlocks.

Let's say we've got a Campaign model which can have many Subscribers. We store lots of campaign metrics in a separate CampaignMetrics summary table. When a subscriber confirms their email address we may see a MySQL transaction such as the following,

[2019-07-01 20:43] magnusvk commented on #120
Yeah good call to move this to a new issue!

[2019-07-02 22:00] magnusvk commented on #263
Cross-posting this from #120 to explain why this was removed:

Interestingly, calling the counter update after commit was first added because of deadlock issues with Postgres. It's somewhat ironic that it's now MySQL causing a similar issue.

In any case, the history of removing this comes from a bugfix to allow multiple saves in one transaction, see 81dfbf5. Plus, in the absence of issues like th

[2019-07-02 22:05] magnusvk commented on #263
I'm trying to think how we could add a test for this—probably with a test model with different callbacks? Have one `after_save` callback that runs before the commit and stores the current value of the counter cache in an ivar. Then we can test that ivar to make sure the counter doesn't change before the commit, and test that it changed after the commit normally in the test?

[2019-07-21 04:10] andreitr opened #264 "counter_culture_fix_counts on has_many association results in error"
I have a counter on a has_many relationship and it works perfectly fine. However, when I run the _CollectionsContent.counter_culture_fix_counts_ command I get the following error:

[code]

Classes
[code]

Is there something wrong with the code?

[2019-07-22 04:13] magnusvk commented on #264
Perhaps that model doesn't have a primary key set? [That's what the reconciler uses.](https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/reconciler.rb#L180)

I'm happy to help dig on this more, but you'd have to open a pull request with a failing test case for me to be able to reproduce this.

[2019-07-22 04:13] #264 closed

[2019-07-22 04:57] andreitr commented on #264
Thanks for the response,  @magnusvk. You are absolutely correct, the model didn't have a primary key which caused the error. Thanks for all of your hard work

[2019-07-25 23:13] shereenqumsieh opened #265 "counter culture on has_many relationship not updating on destroy"
Hi there, love this gem, but I'm running into an issue with my has_many relationship that I can't quite figure out. Any help is really appreciated. I have the following:

Idea.rb
[code]

Tag.rb
[code]

IdeaTag.rb
[code]

I find the above works great when adding a tag to an idea. It will update the counter on the Tag model, so @tag.ideas_count increases as it should. However, I find if i remove the

[2019-07-25 23:15] shereenqumsieh commented on #265
If it's worth noting, that when I run `IdeaTag.counter_culture_fix_counts` it updates it correctly. I was hoping it could update automatically when a tag is removed from Idea.

[2019-07-26 04:08] magnusvk commented on #265
Yes, the count should decrease. [There's a test for this](https://github.com/magnusvk/counter_culture/blob/master/spec/counter_culture_spec.rb#L87) so I'm confident this works in principle.

Are you deleting these without callbacks? counter_culture can only keep counts up-to-date if callbacks are run, so you have to call `.destroy`

[2019-07-26 04:08] #265 closed

[2019-07-26 05:13] shereenqumsieh commented on #265
Thanks Magnus, I think I see what you mean. I was simply doing this to create/update the tags for an Idea:

`params[:idea].permit(:title, :summary, :creator, :priority, tag_ids: [])`

What you're saying is, I shouldn't do it this way, but instead I have to call a destroy on the IdeaTag model? Appreciate the response!

[2019-07-26 16:16] magnusvk commented on #265
Hm—that's weird, I don't immediately know why this doesn't work. Perhaps assigning `tag_ids` directly destroys the `IdeaTag`s without callbacks? I understand why you'd expect this to work, but at the end of the day if Rails decides to do this without callbacks, there's really nothing counter_culture can do to maintain counts. Why don't you try manually managing the `IdeaTag`s here—that could be a

[2019-07-26 16:54] shereenqumsieh commented on #265
Hi Magnus, You are right in that the **after_destory** callback was not being triggered. And definitely, it was a Rails issue not counter_culture, so I appreciate you taking the time to respond - you helped point me in the right direction and find a solution.

I thought I'd update in case anyone else has this issue. Reading through a ton of rails stuff, it seems you have to add the dependent: :des

[2019-08-17 09:02] soranoba opened #267 "Using Rails 6.0.0-rc, CI failed."
https://travis-ci.org/soranoba/counter_culture/builds/573060376

[code]

[2019-08-21 21:56] magnusvk commented on #267
Thanks for reporting this, #268 should fix this. 🤞

[2019-08-22 03:39] #267 closed

[2019-09-17 02:39] magnusvk commented on #263
Just for the record—if we can come up with a sensible PR that adds this back as an option, I'm down to merge that. But I won't have time to work on it myself.

[2019-11-13 15:08] joelcahalan opened #269 "Syntax for limiting a polymorphic association"
I only want to have a count for one model that has_many of a polymorphic association. What is the proper syntax for specifying this in the counter_culture macro?

Thanks!

[2019-11-13 15:28] joelcahalan commented on #269
I tried this syntax but it didn't seem to work:
`belongs_to :imageable, polymorphic: true`
 `counter_culture :imageable, only: :product`

[2019-11-13 16:38] magnusvk commented on #269
Please check the documentation with questions like these. Issues are not a support hotline.

You could try to use conditional counter caches to achieve this: https://github.com/magnusvk/counter_culture/blob/master/README.md#conditional-counter-cache

[2019-11-13 16:38] #269 closed

[2019-12-17 16:15] Alagaesia93 opened #270 "Total count with has_many through"
[code]

Hi!
Thank you for this gem, I've used it like a thousand times, first issue ever.

I have a Workout model, with many to many relationship with Exercises. My Workout table has a column total_duration, which contains the sum of Exercises duration.

I have tried setting `delta_column` as '`exercise.duration`', '`exercises.duration`' but it does not work.
I have also tried `counter_culture [:w

[2019-12-17 16:22] Alagaesia93 commented on #270
I found the solution like 20 seconds after posting this issue, but it can be useful as reference

`delegate :duration, to: :exercise`

[2019-12-17 16:22] #270 closed

[2020-01-12 16:16] jepzen opened #273 "Help with conditional"
I have added 3 counters for my model with code

[code]

My tests works fine, the count goes up depeding on the status when i try to run

Invitation.counter_culture_fix_counts i get this error

`RuntimeError: Must provide :column_names option for relation [:job] when :column_name is a Proc; you may skip this relation with :skip_unsupported => true
`

But when I run with :skip_unsupported => true no

[2020-01-13 07:11] narze commented on #273
@jepzen You have to add `column_names` as stated in https://github.com/magnusvk/counter_culture#handling-dynamic-column-names to help the gem query and fix the cached counters.

For your case the code should be like this:
[code]

[2020-01-13 08:14] jepzen commented on #273
Thanks, that made it work

[2020-01-13 08:14] #273 closed

[2020-02-03 18:58] mrsweaters opened #274 "Using with Sidekiq batch jobs"
I'm running into an issue where `counter_culture_fix_counts` is not able to complete in a reasonable amount of time, event with smaller `batch_size` settings? Is it possible to make this work with Sidekiq batch jobs, so that my jobs are not long running?

[2020-02-03 19:00] magnusvk commented on #274
That's not something that's built into counter_culture. I'd love to see a PR for this though! Or you could probably make this work for yourself using the `where` option to `counter_culture_fix_counts` and thus split up the work across multiple Sidekiq jobs.

[2020-02-03 19:00] #274 closed

[2020-02-03 21:10] mrsweaters commented on #274
Thanks @magnusvk, I'll look into it.

[2020-03-26 11:46] crazyshot opened #275 "Redis storage"
Hi there.
Is there a plan to add or maybe some already known fork that adds storing the counter cache in Redis?
We have a relation of tag <-> tag_follower with relatively small (100k rows) number of tags and millions of followers that are very rapidly changing, and updating the followers' cache count in the DB created a lot of deadlocks. We decided to offload this counter cache to Redis with sorte

[2020-03-27 14:42] renatojf opened #276 "Conditional counts not working on update"
Hey guys, I am having some trouble with a conditional column.. Here's the definition

[code]

And here's a simple test:
[code]

As you can see, it only works if you manually fix the numbers..
What am I missing?

[2020-03-27 16:42] renatojf commented on #276
Arrrg.. I completely forgot that `update_all` doesn't trigger AR callbacks :(
My bad.. It works fine

[2020-03-27 16:42] #276 closed

[2020-03-27 20:31] magnusvk commented on #276
Yup that would be the problem. 🙂

[2020-03-27 20:33] magnusvk commented on #275
Not planned and no fork I know of. Your use case makes sense, though.

Honestly, the easiest thing for you to do if you need this for only one table is probably to add some manual callbacks and manage counts that way.

That being said, if you did come up with a fork that makes counter storage pluggable and that adds a Redis storage option I’d certainly review that.

[2020-03-27 20:33] #275 closed

[2020-04-08 09:41] Morozzzko opened #278 "counter_culture breaks code if any of the attributes is read only"
I'm using [aasm](https://github.com/aasm/aasm) on my ActiveRecord model. I've used the `no_direct_assignment: true` option, so any attempts to call `my_model.attr = ...` will fail with an exception.

Once I introduce `counter_culture` to the class, the application breaks – the class will raise an exception if try to update it.

This behavior should be reproducible even without AASM by overriding t

[2020-04-08 19:32] magnusvk commented on #278
Thanks for the detailed report—this makes sense. Are you able to open a pull request with a fix? If `aasm` uses the Rails-standard read-only attributes here, we should be able to just say `next if  obj.klass.readonly_attributes.include?(key)`, right? ([See here.](https://api.rubyonrails.org/classes/ActiveRecord/ReadonlyAttributes/ClassMethods.html#method-i-attr_readonly)) However, it will also nee

[2020-04-09 08:09] Morozzzko commented on #278
I'll need to check it out. I'm not sure it's _that_ kind of read-only.

But it might work, actually. Thanks!

I'll send a PR if it works out

[2020-05-04 14:45] jasonfb opened #280 "migration not Rails version aware"
the generator creates a migration with the old-style Migration class `ActiveRecord::Migration`

[code]

I think there's a way to pipe the Rails version into the template as it is being generated

I did it in another gem like this
[code]

[2020-05-09 18:39] magnusvk commented on #280
@jasonfb thanks for reporting this, I believe it's just a bad version check in the generator. Can you verify that #281 fixes this?

[2020-05-12 08:45] wynksaiddestroy opened #283 "Counting distinct or unique records"
As an example use the three classes from the documentation: `User`, `Group` and `Membership`. Now assume that a user can have multiple memberships for a group.
Is there a way to save the distinct or unique user count for a group?

So I don't want this:

    group.users.size

… but:

    group.users.distinct.size

[2020-05-12 08:55] wynksaiddestroy commented on #283
If I change the user model as follows:

    class User < ActiveRecord::Base
      has_many :group_memberships
      has_many :groups, -> { distinct }, through: :group_memberships
    end

… i won't have to use `distinct` anymore. But my counter on the membership model:

    counter_culture :group, column_name: "members_count"

won't count the distinct users but all.

[2020-05-14 03:50] magnusvk commented on #283
This isn't possible with counter_culture as far as I know. If you had a pull request that added support for this, I'd be happy to take a look at it though!

[2020-05-14 03:50] #283 closed

[2020-05-18 15:20] #280 closed

[2020-06-11 01:10] deanmi opened #285 "Supported Ruby version is still >= 2.3, right?"
Hi,

First, I want to thank you for creating such an awesome gem! I'd like to make sure that I understand the change log comment for v2.5.0, which says dropped support for Ruby 2.3 and 2.4. The [gemspec still says 2.3 and greater](https://github.com/magnusvk/counter_culture/blob/78359792a287fbfe063609bfa2d558a289b37b8c/counter_culture.gemspec#L16), and looking at the commits for 2.5.0 it looks lik

[2020-06-12 16:14] magnusvk commented on #285
@deanmi well—it *probably* works. Given that it's not tested anymore and that Ruby 2.3 is EOL there's no guarantees. And I do remember there being at least one test failure—otherwise I wouldn't have dropped testing for it. But it's quite possible it was something obscure like a gemset failure or a feature you don't use. So yeah, if it works for you, no reason to panic. At the same time, you should

[2020-06-12 16:14] #285 closed

[2020-06-19 20:43] vanboom opened #286 "destroy_all is causing negative counts"
[code]

I have tried removing the touch options.  It seems counter culture is double counting the destruction.  If the deleted count is `5`, the counter becomes `-5` after the `destroy_all`, e.g. user.posts.destroy_all

[2020-06-20 17:33] magnusvk commented on #286
@vanboom I added a spec for this in https://github.com/magnusvk/counter_culture/commit/b171e6eeed80805996de9d4abc0687e00a78ea54 and it passes for me locally, so I have to assume this is something caused by your application code. If not, please open a pull request with a failing test case that isolates this behavior so I can reproduce.

[2020-06-20 17:33] #286 closed

[2020-06-22 15:27] vanboom commented on #286
Ok, thank you.  I will investigate further.  I have confirmed that there are no Rails counter_cache features enabled on these models.

[2020-07-30 03:29] #278 closed

[2020-08-08 17:48] maikdijkstra opened #289 "Improving the use of column_names and scopes"
As of now the column column_name is always necessary to create a counter. With some things this would result in large pieces of code which could be minimized a lot using only the column_names. Especially when using scopes.

For example:
[code]
This is a small example with just 2 options and a combination of those. But takes quite a lot of lines. I would like to write it like this to easily create

[2020-08-10 19:16] magnusvk commented on #289
I agree it would be nice to be able to define your column names just once, I just don't know how to get there consistently and while supporting the full functionality of the gem. #290 I don't think gets us there. I'll close this here as I don't know how I'd achieve this, but I'm happy to keep discussing more ideas as I agree it would be nice to have this functionality.

[2020-08-10 19:16] #289 closed

[2020-08-28 15:59] jamesmacwilliam opened #291 "Support nested attributes"
## Description
given a scenario like the following:
[code]

if I update the nested attributes of an `Item` with a series of comments, the `comments_count` does not update

however, if I then `touch` each of the `comments` the `comments_count` on `Item` will reflect the correct count

[2020-08-28 16:38] jamesmacwilliam commented on #291
and... it turns out this was user error, disregard nothing to see here :slightly_smiling_face:

[2020-08-28 16:38] #291 closed

[2020-09-15 07:23] litalico-tomokioke opened #293 "Add explanation about usage of column_names option in README"
Hello.

`counter_culture` method has options, `column_name` and `column_names`.
These two option names are so similar,
but I can't find an explanation about difference between them and what for `column_names` in README.

My recognition is that
`column_name` is used for specifying which columns to increment or decrement in source table's record changing,
but `column_names` is used for specifying wh

[2020-09-17 04:04] magnusvk commented on #293
The existing documentation for that is here: https://github.com/magnusvk/counter_culture#handling-dynamic-column-names

Is that section not helpful? Your understanding is correct. Definitely open to improving this, though I'm not quite clear how.

[2020-09-17 04:23] magnusvk commented on #293
Fixed by #294 I believe.

[2020-09-17 04:23] #293 closed

[2020-10-08 04:02] ssingh510 commented on #259
@Zhao-Andy were you able to find a solution for this? i'm also having this issue

[2020-10-08 19:57] magnusvk commented on #259
And just to be clear, if you can open a PR with either a failing test case or even better an improvement to that, I'm more than happy to take a look at that. @ssingh510 not surprised it would generate two queries; not immediately clear to me how much effort it would be to change that.

[2020-10-24 13:16] SmileDMiao opened #298 "column_names option lead to database not exist when run rake db:create"
Rails: 6.0
counter_culture: 2.6.2

I found if i delete the column names option the `rake db:create` command will success. when add it back , run `rake db:create` raise database not exist error.

[code]

[2020-10-24 14:29] SmileDMiao commented on #298
change the code
[code]
will not raise the error.

[2020-10-24 20:48] magnusvk commented on #298
Looking at this, what's probably going on is that `rake` is loading your app on `db:create` which triggers the `Prediction::Order.checked` code which will in turn raise the "database does not exist" error. I'm not really sure how to work around this, to be honest, other than what you've already done here. I'm going to close this as this isn't strictly related to counter_culture, but if you have a

[2020-10-24 20:48] #298 closed

[2020-10-26 15:52] PhilCoggins opened #299 "Delay / Defer UPDATE call"
Is there a way to delay counter updates until a later time? I'm thinking in the case where records are inserted in bulk (like imports), it would be nice to wrap the inserts in a block that would prevent UPDATEs from occurring, and then when the process is complete I could just call `counter_culture_fix_counts` myself. Yes, I could use a bulk insert tool, but there are certain callbacks and validat

[2020-10-26 16:07] magnusvk commented on #299
This isn’t currently possible. My sense is this probably isn’t a super common use case, but if there’s a clean way to add this to the gem I would consider it.

If this is just a one-off process for you and you’re ok with a hackish solution, the easiest way to accomplish this is probably to empty the internal config array and then repopulate it when you’re done: https://github.com/magnusvk/counter_

[2020-10-26 16:07] #299 closed

[2020-10-26 16:17] PhilCoggins commented on #299
@magnusvk Thank you for the suggestion. Emptying `@after_commit_counter_cache` does not appear to be a threadsafe solution, so I'll do some digging, and open a PR if I can throw something reasonable together.

[2020-10-27 17:10] magnusvk commented on #299
Yeah, that sounds right. If you want this to be thread-safe I’d imagine you need to modify the counter culture code and set a flag on the thread.

[2020-10-27 18:14] PhilCoggins commented on #299
This is what I ended up with:
[code]

I was careful not to modify any many internals, and the `Thread.current` could probably be done better. I'd still love to clean this up and upstream this if you think it has a home in your library. Most likely I would just update the `after_create / before_destroy / after_update` declarations to utilize conditional methods.

[2020-11-02 16:13] hschne opened #301 "Allow for custom values when using touch"
First of all, thanks for creating this gem! Works really great for me :+1:

I do have a small issue when using the `touch: true` option though. One rails application that I am maintaining store timestamps is integers, i.e. unix timestamps. Don't ask me why, it was like that when I got there :sweat_smile:

This causes some issues when trying to use touch to update timestamps through counter culture

[2020-11-06 04:52] magnusvk commented on #299
Yeah, I mean... This looks pretty minimal. I'm not sure how widely useful this is but if it helps you to get this merged I'd say this looks small enough that I'd be happy to merge something along those lines.

[2020-11-06 05:06] magnusvk commented on #301
Haha, well, that's fun. Gotta love old applications.

It seems to me that this is pretty niche. I think maybe the minimal change would be to add a method here, something like `_counter_culture_current_time_for_touch` that defaults to `current_time.to_formatted_s(:db)` and then you could simply override that in the relevant class? Or is this something that you'd need to have column by column, not j

[2020-11-06 09:00] hschne commented on #301
Thanks for getting back to me!

You are right, that definitely works and is an even smaller change than the one I proposed.

No, luckily this is only needed on class by class :grin:

[2021-01-03 18:28] swiknaba opened #302 "Rails 6.1 w/ PaperTrail compatibility issues"
Currently, PaperTrail itself is not yet fully Rails 6.1. compatible.

## paper_trail.save_with_version
In particular, I've found the following method to be broken: `paper_trail.save_with_version(validate: false)`. The issue here is a splat vs. double splat operator in Rails' `ActiveRecord#save` method. I've attempted to fix this in PaperTrail: https://github.com/paper-trail-gem/paper_trail/pull/12

[2021-01-09 00:47] magnusvk commented on #302
@swiknaba thanks for the report. I can skip testing PaperTrail for Rails 6.1 for now to make sure the rest of the project works. See #303 for progress on that. I subscribed to the PaperTrail issue you linked so hopefully I can enable tests for Rails 6.1 as soon as PaperTrail fixed that issue. That being said, still working on testing Ruby 3 and Rails 6.1! :)

[2021-01-25 20:09] dvandersluis opened #305 "`counter_culture_fix_counts` doesn't work with `column_name` and `where` together"
I have the following model relationship:

[code]

I added a counter cache to `users` that uses counter_culture to count records, based on a field on `groups`. Since it's a has many through, where the `GroupOwner` record is not notified when the `Group` is updated, I need to manually trigger an update of the counter culture when the column changes.

[code]

This works, but I wanted to make it more

[2021-02-02 03:41] magnusvk commented on #305
Sorry, but I don’t understand the issue you are having based off the information you have provided here and I am unable to provide support on this open source project.

Just to confirm, though, the call to counter_culture is on the GroupOwner model? At first glance here, and again I don’t have enough information, you shouldn’t have to manually update the counter cache. This seems like a pretty str

[2021-02-02 03:41] #305 closed

[2021-02-03 07:01] avit commented on #263
I don't think this problem is unique to CounterCulture, or even caused by it. Still, this could be made an option I suppose, or deferred to before commit like `touch: true` does.

@jbritten, if you can make your association updates happen in a consistent order (generally, starting from the lowest model in your belonging hierarchy and going up) then you can eliminate those deadlocks. (I wrote a blo

[2021-02-03 20:15] stahor opened #306 "Initially discarded records are counted incorrectly"
consider the following models
[code]

It works fine when you discard and restore persisted records. But there is a problem when you try to save the record which is discarded from the very beginning.
[code]

[code]

[2021-02-03 20:17] stahor commented on #306
P.S. I worked it around with `column_name: proc { |model| model.kept? ? 'levels_count' : nil }`

[2021-02-04 03:58] lightyrs commented on #263
@avit

Very interesting blog post and rails pr.
I'm wondering if the same logic of your pr could be applied specifically to the transaction logic of this gem.

[2021-02-04 04:07] lightyrs opened #307 "Ability to batch multiple counter cache updates for same row"
👋 @magnusvk

I've been using this great gem for awhile at joinsubtext.com, however, have recently been running into deadlocking issues as we scale. This idea is a little different than the other open deadlocking issue #263.

I have multiple counter caches defined on a model like this:

[code]

So when I look at the postgres logs and see something like below, I wonder if it would be possible to com

[2021-02-04 04:11] magnusvk commented on #306
@stahor thanks. Any chance you want to take a stab at opening a PR to fix this?

[2021-02-05 21:16] magnusvk commented on #307
👋🏻—small world!

This is a great idea! These can and should be consolidated. However taking a quick peek here it looks like that's a pretty big refactor from the current code. I'd be open to a pull request if you have time to work on this! :)

[2021-02-05 21:19] lightyrs commented on #307
@magnusvk Thanks for the quick reply. I will look into an implementation and submit a PR if I come up with something decent.

[2021-02-11 23:22] Amnesthesia opened #308 "Conditional count on transitive relationship"
Let's say I have these kind of models:

[code]

What I want to do is have a count of active documents on Category, and a count of inactive documents as well. A document could have DocumentRevisions where all of them are inactive, in which case I dont want that to count. It doesnt seem like my column_name proc works here. A document should be counted as active (+1) if it has at least one active Doc

[2021-02-11 23:23] magnusvk commented on #308
Sorry—but this doesn't look like an issue with the gem and I unfortunately cannot provide support here.

[2021-02-11 23:23] #308 closed

[2021-02-11 23:38] Amnesthesia commented on #308
It's not really an issue with the gem except the fact that if I add in a "puts" statement I can see that its being run, but nothing is actually counted. I end up with 0 counts even if I print "WILL COUNT THIS RECORD" and return a string for the column

[2021-02-26 21:09] xhs345 commented on #263
I would also like to see the after_commit option being added back in, since this was for me the original reason to consider this library.

In our case we have the following deadlock scenario (based on my current understanding):
1. Long running job A starts transaction
2. Short job B starts to update some fields on users table (using `update_all`), but gets stuck because of A
3. Job A inserts data

[2021-03-02 19:38] magnusvk commented on #263
Hey guys—I took a quick stab at adding this back, see #309. Let's see if the tests go green on that, and I'd love some extra eyes on that PR, too.

[2021-03-03 21:06] jbritten commented on #263
Hey @magnusvk, I really appreciate you taking the time to add this back! I'm testing your 'execute-after-commit' branch and getting the following error:

`! Unable to load application: LoadError: cannot load such file -- after_commit_action`

Looks like a missing dependency.

[2021-03-04 01:14] magnusvk commented on #263
@jbritten so the thing is that you only need that gem if you set the `execute_after_commit` option to true, so I don't want to make it a straight-up gem dependency. I just pushed a commit that adds a more helpful error message. But the upshot is that you'll manually have to include the `after_commit_action` gem in your dependencies.

[2021-03-05 18:13] jbritten commented on #263
@magnusvk got it; thanks for the more helpful error message. I've been running this branch in staging for 2 days and seems to be working as expected.

[2021-03-13 00:28] xhs345 opened #312 "counter_culture_fix_counts not working on model with default_scope defined"
I have two models:

[code]

[code]

When running `Sleep.counter_culture_fix_counts` I'm getting the error:

[2021-03-16 17:57] magnusvk commented on #312
So I have to admit I don't 100% understand why this is getting raised, but adding an `includes` on a default scope is almost certainly a bad idea. I would advise you to drop that and add a scope instead that you can use everywhere you want to add that `includes`.

[2021-03-16 17:57] #312 closed

[2021-03-16 18:25] xhs345 commented on #312
Oh, I totally agree, but sadly that is not easily done in my case since it's an existing application

[2021-03-17 01:41] magnusvk commented on #263
@jbritten any problems with this branch? I’m thinking I should merge and release as it seems to be working.

[2021-03-17 01:44] jbritten commented on #263
@magnusvk I've had the branch running in our production app for over a week and haven't encountered issues yet. I'd say go ahead and merge and release.

[2021-03-17 03:31] magnusvk commented on #263
Awesome, thanks for the update. Just released this as gem version 2.8.0. See documentation [here](https://github.com/magnusvk/counter_culture/#avoiding-deadlocks--executing-counter-cache-updates-after-commit).

[2021-03-17 03:31] #263 closed

[2021-03-30 00:30] marinfr opened #314 "after_destroy callbacks sometimes not called with execute_after_commit and transaction"
Hello 👋

I've recently started using this gem's `execute_after_commit` feature to successfully fix MySQL `LockWaitTimeout` issues, but now I've stumbled upon a nasty bug. In some cases, the counter is not updated after destroy with `execute_after_commit`.

Let's say we have:

[code]

[code]

And then we have a transaction where an update before destroy is happening:

[code]

Works well without `ex

[2021-04-06 20:25] magnusvk commented on #314
Hey @marinfr thanks for reporting this. I did some digging, see #316. However, my take-away from that work is that the `after_commit` hook simply is not called at all for your issue here. So at first glance, this looks like more of a Rails problem than a counter_culture issue. Can you take a look at the output in #316 and let me know what you think?

[2021-04-07 13:46] marinfr commented on #314
@magnusvk, thanks for looking into this!

I've tried to reproduce this behaviour with basic Rails by defining an `after_commit` action that just prints `AFTER_COMMIT`. It's for a different model that doesn't have anything to do with counter columns. Trying both syntaxes of updating+destroying, `AFTER_COMMIT` was always and only printed once at the end:

[code]

Does this mean that `after_commit` n

[2021-04-07 14:10] marinfr commented on #314
Ok, you might be right!

I've defined this in the model described in the issue:

[code]

The output with the first approach:
[code]

The output with the second approach:
[code]

Feel free to close this issue as it looks like it's intended for the Rails team.
Thanks!

[2021-04-07 15:45] magnusvk commented on #314
Bummer, I personally don’t think that’s the right behavior, but also wouldn’t know what to do to fix it!

[2021-04-07 15:45] #314 closed

[2021-04-15 03:32] khiav223577 opened #317 "expire cache manually when a counter is updated"
I find the gem uses `update_all` to update the counter.
https://github.com/magnusvk/counter_culture/blob/dcdf9cb6e9919b8c287f5ea78531dea2a27d8eac/lib/counter_culture/counter.rb#L116

 It doesn't trigger `after_commit` and causes some cache problem in our project.
Is there a way to expire cache manually?

[2021-04-15 10:00] RanX12 opened #318 "I want to delete the out-of-sync count"
I want to delete the out-of-sync count,
I have tried
```counter_culture :question, on: :create```

I also tried:
[code]
Hope you can give me some help

[2021-04-15 15:42] magnusvk commented on #318
Sorry, this is not a support hotline. Please read the documentation.

[2021-04-15 15:42] #318 closed

[2021-04-15 15:43] magnusvk commented on #317
This isn’t a support hotline, please read the documentation. It seems you might be looking for the `touch` option. This is all well-documented, though.

[2021-04-15 15:43] #317 closed

[2021-04-17 10:00] khiav223577 commented on #317
@magnusvk you may misunderstood my problem. In our project, we cache attributes of model in `redis` or `memcached`.
When an counter cache column gets updated, it does not trigger callback to clean the cache. I wonder how do others deal with this problem?

Take `identity_cache` for example:
[code]
[code]

I created an executable test case:
[code]

[2021-04-19 16:47] magnusvk commented on #317
Ok, so yes—setting `touch: true` still uses `update_all` and won’t trigger callbacks. Obviously there’s performance benefits to that but it comes with tradeoffs. It _does_ update the timestamp, so you could use a `Rails.cache.fetch` block that incorporates the timestamp as a cache key. That way the cache would automatically get regenerated when that timestamp changes. But it looks like that’s a pr

[2021-04-24 02:11] jbritten opened #319 "Incorrect Count After Asynchronous Concurrent Updates When Using execute_after_commit"
When enqueueing multiple background jobs (e.g. Sidekiq) which utilize counter_culture's execute_after_commit, the final count will be incorrect (lower than expected).

Here is an over simplification of the setup:

[code]

I'm running 2 Sidekiq workers, each with 10 threads. When enqueuing multiple DeleteParticipantsJobs, each with the same or overlapping set of participant_ids, the final count on

[2021-04-25 11:59] shuuuuun opened #320 "The initialized count is incorrect when used with the where clause"
When I use a counter column in a where clause before initialize, the count that is set seems to be incorrect.

If I add the following test case to `spec/counter_culture_spec.rb`, it fails.
[code]
(In my actual project, I used the `first_or_initialize` method instead of `new`.)

[code]

Thank you.

[2021-04-27 17:59] jbritten commented on #319
I believe that I have isolated this issue counter_culture's the use of after_create, after_update and before_destroy callback methods regardless of whether the execute_after_commit option is present. I believe that when the execute_after_commit option is present, counter_culture should use after_commit callback methods to ensure that the callback is not executed multiple times.

@magnusvk I have a

[2021-04-27 22:30] magnusvk commented on #319
Interesting! Honestly I have no idea if your fix in the fork works—but if it does, great! One could argue that’s a better way to do this anyhow, so if you can show that works and it keeps all the other tests green, then 👌🏻

My other reaction here is just—if you do things outside of the transaction it’s not going to be 100% safe. But that’s not to say we shouldn’t fix it if we can! Let me know what

[2021-04-27 22:33] magnusvk commented on #320
So—I don’t think this has anything to do with counter_culture. You’re telling Rails to initialize `reviews_count` with the value 2, so it does. If that’s incorrect you should just stop doing that by dropping the `where`.

[2021-04-27 22:33] #320 closed

[2021-04-28 00:35] shuuuuun commented on #320
Oh, I see...
I misunderstood the specification of the where clause in Rails.
Sorry for the wrong report! 🙇

[2021-04-28 19:27] jbritten commented on #319
@magnusvk Thanks for your feedback.

The feature branch in the fork linked above does solve the issue of incorrect counts; however, when using counter_culture's support for Paranoia and Discard, the counts recorded by soft deleting & restoring can still be incorrect. This is because those respective gems do not utilize after_commit callbacks.

Given I'm also using Discard in a few places, it looks

[2021-05-03 23:19] magnusvk commented on #319
I think it's still an improvement to use the `after_commit` callbacks, right? If it solves the issue unless you're using Paranoia or Discard, that'll still apply to a large chunk of users. So I'd welcome a PR for that change. I don't think we can add a test that verifies this fixes the concurrency issue, but even without that I'd be happy to merge as long as all the other tests are green.

[2021-05-12 20:34] 14ypark opened #321 "counter_culture_fix_counts returning an empty array."
![Screen Shot 2021-05-12 at 4 33 47 PM](https://user-images.githubusercontent.com/9920555/118040656-d56e0180-b33f-11eb-8cf4-3a902d67f089.png)

No errors or anything it just returns an empty array.

[2021-05-12 20:51] magnusvk commented on #321
Please check the Readme, this is not a support hotline. Also, you are including zero information here making it impossible to help you even if I wanted to.

[2021-05-12 20:51] #321 closed

[2021-05-12 23:09] 14ypark commented on #321
No errors or anything it just returns an empty array.

[2021-05-12 23:11] 14ypark commented on #321
@magnusvk please take a look. Thanks

[2021-05-14 21:19] 14ypark opened #322 "counter_culture_fix_counts skip_unsupported: true returning an empty array"
![Screen Shot 2021-05-14 at 5 17 10 PM](https://user-images.githubusercontent.com/9920555/118332540-40524080-b4d8-11eb-9406-b3eab31e00ac.png)

Task class:
belongs_to: task_file
 counter_culture :category, column_name: proc {|model| model.status == 'open' ? 'open_tasks_count' : nil }

Task_file class:
has_many: Tasks

Why is the function returning empty array?

[2021-05-14 21:51] #322 closed

[2021-05-20 15:38] 14ypark opened #323 "Counter is not updated when it is used in rspec"
When I write a test case in rspec to test if the counter works correctly, the counter is not updated correctly.

[2021-05-20 15:49] magnusvk commented on #323
You are including zero helpful information here, so I can't even help you debug what is wrong. This gem has plenty of rspec tests and is used in lots of projects in production, so I'm quite sure it works. If you find an error that is not covered, feel free to open a PR with a failing test and I will take a look.

[2021-05-20 15:49] #323 closed

[2021-05-26 18:32] milani opened #324 "Support collection.delete"
Rails counters support record disassociation via `collection.delete`: https://github.com/rails/rails/blob/main/activerecord/lib/active_record/associations/has_many_association.rb#L125

This is not supported by counter_culture. Example:

[code]

What's the best way to support this?

UPDATE: Better docs on the behaviour can be found here: https://apidock.com/rails/ActiveRecord/Associations/Collectio

[2021-05-26 19:17] magnusvk commented on #324
I had never seen that before. Looking at the code you linked to, it doesn’t appear there is a good way to hook into this. These are private Rails methods, so wrapping them with something like `alias_method_chain` is not a good idea. And they don’t provide a callback to hook into either. So if you really wanted to support this, you would probably have to start with a Rails PR to create a documented

[2021-05-26 19:47] milani commented on #324
@magnusvk There is an `after_remove` hook which is called for every object in the collection: https://github.com/rails/rails/blob/main/activerecord/lib/active_record/associations/collection_association.rb#L395. Does this help?

[2021-05-26 20:48] magnusvk commented on #324
It doesn’t appear that `delete` ever calls that code. It just calls `delete_all` if that’s whats set as dependent. Also, just to be clear, I’m happy to review a PR if you put it together, but I won’t be able to work on adding this myself.

[2021-05-26 21:25] milani commented on #324
Well, I think it does call it. I try to put something together hopefully it would work. But would you keep this open regardless?

[2021-06-03 21:47] magnusvk commented on #319
@jbritten any follow-up here, did you want to open a PR with those changes?

[2021-06-04 19:28] jbritten commented on #319
@magnusvk sorry for letting this fall through the cracks. I've just open PR #325.

[2021-07-28 09:46] lilisako opened #328 "Is there any support for many-to-many conditional counter?"
## Question
Hi, I'm using this gem for a while, and I'd like to ask about a many-to-many association.  My models are something like below.
[code]
[code]
[code]
## What I want to do
Now, I need to get a film_count of each actor which is available. And you need to define `counter_culture` in `models/actor_file.rb`.
Intuitively what I want to do is this below.
[code]

I really appreciate any help you

[2021-07-28 09:59] lilisako commented on #328
I'm closing this issue since I found a solution here.
https://github.com/magnusvk/counter_culture#many-to-many-association
I'm sorry for making this issue, and I appreciate all the work the author has done.🙏

[2021-07-28 10:03] lilisako commented on #328
Misunderstanding was here, what I wanted to do here is **many-to-many conditional counter**, which hasn't documented in readme. My apology to make things complicated. I'm editing the issue title.

[2021-07-28 17:23] magnusvk commented on #328
That should work I believe. Did you try it before opening the issue?

[2021-07-28 17:23] #328 closed

[2021-10-04 10:58] stahor commented on #306
Ugh, sorry for the late answer. Something is wrong with my notifications. TBH I'm not quite sure where to look. And I want to change another part of this gem first.

[2021-10-04 11:05] stahor opened #329 "after_update callback"
Hi there. I need some callback that is fired right after/around counter update. In my scenario, I already have a paper_trail integration that creates versions before counters are updated. So I need some way to fix data in those versions.

It looks like adding this logic somewhere [here](https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/counter.rb#L114) should do the trick

[2021-10-04 11:45] stahor commented on #306
It looks like adding
[code]
inside of [this](https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/extensions.rb#L36 ) block fixes the issue.

[2021-10-04 18:27] magnusvk commented on #329
Does the existing PaperTrail integration not solve this for you? https://github.com/magnusvk/counter_culture#papertrail-integration

[2021-10-04 18:28] magnusvk commented on #306
Makes sense. I'd love a PR with a test for this.

[2021-10-05 19:11] stahor commented on #329
Nope, I already have a code that creates versions and this integration will create duplicates.

[2021-10-05 19:26] magnusvk commented on #329
Why rely on your custom code if there's already an integration that works and saves the correct data to PaperTrail? It doesn't seem worth it to me to add callbacks just for this.

[2021-10-13 23:53] cabello opened #331 "Incorrect count, likely due to incorrect usage of my part"
Hello 👋 , I love the concept behind this gem, count queries are expensive and can lead to N+1 count queries in some CRUD screens.

I have the following models:

[code]

I added columns to Events table with:

[code]

For some reason my counts were all wrong and running `Attendee.counter_culture_fix_counts` would fix them, I think is because I am skipping something conceptually.

If an Event had 5 p

[2021-10-14 18:43] #331 closed, assigned to nobody

[2021-10-22 19:17] barriault opened #332 "Problem with Postgres money data type"
I have the following ActiveRecord models (postgresql db) that were migrated with the `t.money` type:

[code]

[code]

They have the following schema:

[code]

I'm getting the following SQL error when trying to save a `BillingSummaryItem`:

[code]

[2021-10-26 17:23] #332 closed, assigned to nobody

[2021-11-04 08:54] Archetylator commented on #298
Probably to resolve that issue you can put counter definitions inside this code:

[code]

[2021-11-04 16:04] magnusvk commented on #298
That could work, feel free to open a PR for it and I'm happy to take a look!

[2021-12-03 00:39] mattboldt commented on #329
Not sure if I'm going about this in the most idiomatic way, but I too am looking for a way to listen for updates to the counter cache.

My scenario is my parent object, let's call it a `Book` that `has_many :pages` with a `page_count` counter cache. If a `Page` is added, removed, or changed, and counter_culture does its thing, I need to spin up a background job to re-generate a PDF document with a

[2021-12-03 01:26] magnusvk commented on #329
Haha, yeah, I mean, architecturally I think what you _should_ do in this case is move any updates to anything in a `Book` to a service that updates the PDF after it persists any changes. But realistically the shortest path to getting your scenario to work would be an `after_save` on `Page`. That's what triggers counter_culture, too.

[2021-12-03 01:26] #329 closed

[2022-02-22 12:49] haukot opened #342 "Multi-level counter-cache doesn't work with Discard"
It seems that couter_culture checks Discard of only one level of models hierarchy, but not all of them.

For example:

[code]

If

[code]

Expected:

`Step.counter_culture_fix_counts` also takes into account discarded_at of parent model.

Actual:
`Step.counter_culture_fix_counts` checks only discarded_at of Step, but any model on hierarchy.

[2022-02-22 12:55] haukot commented on #342
For now we mitigated the issue with custom scope:

[code]

[2022-02-25 04:12] magnusvk commented on #342
This sounds right—do you think you can put a pull request together to fix this? I don't use discard so wouldn't get around to fixing this myself.

[2022-02-28 09:51] laptopmutia opened #345 "how to do conditional totalling?"
hello I use counter_culture to get the value of profit/loss from a transaction

then in my code I have this
I have `Transaction` with `:total` column and `TransactionEntry` with `:amount` column

[code]

[code]

problem is Transaction has 2 Type `NegativeTransaction` and `PositiveTransaction`
how to make the sum from counter_culture take `amount` from the `NegativeTransaction` as negative value in

[2022-03-14 16:51] night91 commented on #236
@cintamani Did you find a way to overcome this? Because the problem you exposed is complicated sometimes.

[2022-03-16 02:33] Amnesthesia opened #347 "Procs evaluated during initialization causing app to crash"
When using scopes with a proc, like so:

[code]

This is being evaluated here: https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/extensions.rb#L53

When CI (or anything really) then runs `rails db:schema:load` (or even just `rails db:schema:load_config`) this crashes because the database isn't set up yet and it's trying to evaluate the scopes, failing with:

[code]

[2022-03-16 07:16] PikachuEXE opened #348 "`counter_culture_fix_counts` with `start` and `finish` used as foreign ID instead of primary key"
If I run
[code]

I would have this query generated
[code]

I remember this was not the case in some old version
I have no idea if this is expected behaviour

[2022-04-06 12:27] Infi-Knight opened #349 "How to decrement count when an attribute value changes?"
Hi, is it possible to decrement the count when I update an attribute's value e.g set it to `false`? The thing is that I have configured my model in such a way that instead of deleting the record I am simply archiving it using a custom boolean attribute named `archive`. The count is incremented properly when an item is added but not when it is archived (probably because no destroy callback is run?)

[2022-04-11 20:15] seyerian commented on #349
@Infi-Knight See the `:column_name` option; this allows you introduce logic via a proc. https://github.com/magnusvk/counter_culture#conditional-counter-cache

So something like:

[code]

[2022-04-11 20:25] seyerian commented on #345
A possible solution here is to create a new column for a signed value, keep it current with `before_save`, that and use that for `:delta_column`.

[2022-04-18 06:28] gatopanx opened #350 "Request: Callback support on parent models"
We have this denormalized data model:

[code]

[code]

Books should have a combined comments and replies count. But, combining comments and replies into a single self-referential table is not an option.

The Rails way is to use a callback to recalculate the aggregate count whenever one of these two changes, however, the implementation uses update_all internally, which does not trigger AR callbacks

[2022-04-22 10:42] AntoineBecquet commented on #347
A similar problem occurs when the proc use a scope defined after it in the model class.

Like in the readme, this works :

[code]
but this raise an error when the class is loaded :
[code]

`undefined method 'contributing' for #<Class:0x00007ff214788670> (NoMethodError)` comming as above from https://github.com/magnusvk/counter_culture/blob/master/lib/counter_culture/extensions.rb#L53.

As stated i

[2022-06-05 04:08] thimmaiah opened #354 "Multiple counters, single query"
Is it possible to generate a single query and update the counters ? I have many counters and the number of queries is piling up.

Thanks in advance

[2022-06-05 04:12] Singh212dab commented on #354
yes but not possible to mix counter query and non counter query in cassandra.

[2022-06-05 04:16] thimmaiah commented on #354
How to accomplish this, for mysql like DBs? Currently I have 10 counters which generate 10 different queries.

[2022-06-05 04:23] Singh212dab commented on #354
sorry mate no idea about it ,you can go for Google . only thing I know that it is possible

[2022-06-16 04:25] lserman opened #355 "Incorrect count when using ID in the dynamic column name proc"
Hello, our model has messages that belong to groups and we want to track the group's outbound message count, but only count messages for each recipient once per group (sending a message to the same recipient in the same group multiple times should only increment the groups message count once).

To do this our dynamic column count looked like this:

[code]

After we create the message which increme

[2022-07-08 18:47] doutatsu commented on #158
Was there ever an update on this? Looking for the something like this myself

[2022-08-03 03:39] kkerley opened #356 "Model.counter_culture_fix_counts does nothing after the initial run"
I've been manually testing the front end of my Rails 6.1 API application after upgrading from 5.2.8 earlier today. All my rspec tests pass but I found a few weird things happening when actually using the site through the front end. As I was testing this stuff, I discovered that one of my counter caches for a has_many through: relationship wasn't working properly because I didn't set it up properly

[2022-10-12 02:59] magnusvk commented on #356
I'm sorry but I cannot provide support here. If you can come up with a failing test case for me I'm happy to take a look at that.

[2022-10-12 02:59] #356 closed

[2022-10-12 03:00] magnusvk commented on #355
Thanks, but this seems quite specific to your particular use of this. Going to close the issue since I don't think this is a problem with counter_culture.

[2022-10-12 03:00] #355 closed

[2022-10-12 03:01] magnusvk commented on #354
This isn't currently possible. If you wanted to open a PR that adds this functionality I'd be happy to look at it.

[2022-10-12 03:01] #354 closed

[2022-10-12 03:04] magnusvk commented on #350
Yeah this isn't possible with callbacks here. I think what might work is setting the `column_name` in both `Comment` and `Book` to the same column name. That way they'd both increment and decrement the same column and that column should have the sum.

[2022-10-12 03:04] #350 closed

[2022-10-12 03:04] #349 closed

[2022-10-12 03:05] magnusvk commented on #348
I don't understand the issue here. If you want to check what changed over the versions, I have a well-maintained changelog.

[2022-10-12 03:05] #348 closed

[2022-10-12 03:08] magnusvk commented on #345
[Looks like this is what you're looking for?](https://github.com/magnusvk/counter_culture#dynamic-column-name)

counter_culture runs as an ActiveRecord callback.

[2022-10-12 03:08] #345 closed

[2022-10-12 03:09] magnusvk commented on #324
Closing for inactivity.

[2022-10-12 03:09] #324 closed

[2022-10-12 03:09] magnusvk commented on #319
Closing for inactivity.

[2022-10-12 03:09] #319 closed

[2022-10-12 03:10] magnusvk commented on #307
Closing for inactivity.

[2022-10-12 03:10] #307 closed

[2022-10-12 03:10] magnusvk commented on #306
Closing for inactivity.

[2022-10-12 03:10] #306 closed

[2022-10-12 03:10] #302 closed

[2022-10-12 03:11] magnusvk commented on #301
Closing for inactivity.

[2022-10-12 03:11] #301 closed

[2022-10-12 03:27] magnusvk commented on #347
This should be fixed in gem version 3.3.0. Sorry for the delay.

[2022-10-12 03:27] #347 closed

[2022-10-18 21:32] magnusvk commented on #158
Unfortunately not, no. Still would be happy to look at a PR though. 😉

[2022-11-08 15:11] exocode commented on #264
Only want to add the corresponding migration for that issue, to save time for others:

[code]

BTW: Thank you for this gem 👍

[2022-11-14 13:38] exocode opened #358 "How to update with habtm when products have conditions?"
Hi there,

I've some troubles get your gem running in my app:

Product has_and_belongs_to_many Categories through CategoriesProducts

But only "visible" products should be counted.

This is what I've so far (straight forward):

[code]

Do I have some extra scopes/queries in the relation model?

Totally hung up. A point into the right direction whould save my day

Thank you

[2022-11-14 19:10] magnusvk commented on #358
Nothing looks wrong at first glance. Are you inserting `CategoriesProduct` without callbacks in some way perhaps? In that case counter_culture wouldn't work.

[2022-11-15 07:56] jwilson114 commented on #358
Ive got an almost identical set up configuration and  counter_culture using column_names and a specific scope is not changing when the product_category relation is destroyed or created

`
counter_culture :product_category, column_name: 'active_products_count', execute_after_commit: true, column_names: -> { {
    ['products.active_sales_channel = TRUE'] => :active_products_count
  } }
`

would also

[2022-11-15 10:20] exocode commented on #358
Nothing special:
`Product.update(categories: Category.all.sample(2)`
The new relations in `CategoriesProduct` are created, the old ones deleted. The new entries are properly counted, but the counter does not update the old entries.

When I do a `Product.unscoped.destroy_all` the `products_count` in the `Category` model wont get updated. ONLY a
`CategoriesProduct.counter_culture_fix_counts` will so

[2022-11-16 01:17] magnusvk commented on #358
Does `Product.update` call callbacks? I haven't ever used that class-level method before. Have you tried `Product.find_each { |product product.update!(categories: Category.all.sample(2)) }`

[2022-11-16 11:54] exocode commented on #358
sorry for not beeing clear enough, it's NOT a class level method, you can take any product instance:

`Product.last.update(categories:[ Category.find(2547)])`

And yes they are fired in that order:
[code]

Creating a `CategoriesProduct` relation counts up properly in the `categories` table, only when I "overwrite" via `some_product.update(categories: [Category.find(1)])` it **does not decrease the

[2022-11-16 14:35] exocode commented on #358
I've created a rspec test for this in one file, to observe this case:
just run `ruby test.rb` to see the results.

https://gist.github.com/exocode/6d635f226f008e4c0e35c45e5b332de9

Maybe I'm doing it wrong, I don't know

Thank you in advance